{% extends "base.html" %}
{% block content %}

<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(document).ready ( function() {

        // List of elements
        let nitecap_form = $('form');
        let nitecap_table = $('form table');
        let submit_button = $("form button");
        let nitecap_error = $("#error-modal");
        let nitecap_error_message = $("#error-modal-message");

        // Set up scrollbars for top and bottom
        $('.topScroll > div').width(nitecap_table.width());
        $('.bottomScroll > div').width(nitecap_table.width());

        $(".topScroll").scroll( function() {
            $(".bottomScroll").scrollLeft($(".topScroll").scrollLeft());
        });
        $(".bottomScroll").scroll( function() {
            $(".topScroll").scrollLeft($(".bottomScroll").scrollLeft());
        });


    });
</script>

<div class="page-header">
    <h1>
        Collect Data
        <small>Indicate additional spreadsheet metadata</small>
    </h1>
</div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="badge badge-info">Notes</div>
        <div class="server-notes">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% if errors %}
    <div class="badge badge-danger">Errors</div>
    <div class="server-errors">
        {% for error in errors %}
            <div>{{error}}</div>
        {% endfor %}
    </div>
{% endif %}

    <p class="text-danger">* required</p>

<form method="post" action="{{ url_for('spreadsheets.collect_mpv_data', spreadsheet_id = spreadsheet.id) }}">
    <div class="form-group required">
        <label for="descriptive_name">Enter Descriptive Name for the Spreadsheet Data:</label>
        <input type="text" id="descriptive_name" name="descriptive_name" class="form-control"
               value="{{spreadsheet.descriptive_name or ''}}" style="width:40rem" maxlength="250" />
    </div>
    <p>
        Shown are the first 10 rows of your data. Please indicate those columns that represent ids and categorical data.
        Use the same label from the droplist for each replicate. All columns not representing categorical data
        or ids should be set to 'Ignore'.
    </p>
    <div class="topScroll">
        <div></div>
    </div>
    <div class="bottomScroll">
        <div>
            <table class="table table-striped table-bordered table-sm">
                <tr>
                    {% for heading in spreadsheet.df.columns %}
                    <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
                <tr id="selectors">
                    {% for heading in spreadsheet.df.columns %}
                    <th>
                        <select style="font-size: 10px" name="col{{ loop.index }}" id="col{{ loop.index }}">
                            {% for item in labels %}
                                <option value="{{item}}" {% if loop.index == 1 %}selected=true{% endif %}>{{ item }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    {% endfor %}
                </tr>
                {% for record in spreadsheet.get_sample_dataframe() %}
                <tr>
                    {% for value in record %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
