{% extends "base.html" %}
{% block content %}

<script>

    var toFixed = function(num, i) {
        // Call num.toFixed unless num is undefined (eg: null)
        if (typeof num === 'number') {
            return num.toFixed(i);
        }
        return num;
    };

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(document).ready(function () {

        labels = {{ ids | safe }}
        x_values = {{ x_values | safe }};
        x_labels = {{ x_labels | safe }};
        x_label_values = {{ x_label_values | safe }};
        data = {{ data | safe }};
        column_pairs = {{ column_pairs | safe }};
        descriptive_names = {{ descriptive_names | safe }}
        qs = {{ qs | safe }};
        ps = {{ ps | safe }};
        amplitudes = {{ amplitudes | safe }};
        anovas = {{ anovas | safe }};
        peak_times = {{ peak_times | safe }};
        filtered = {{ filtered | safe }};
        spreadsheet_ids = {{ spreadsheet_ids | safe }};
        timepoints_per_day = {{ timepoints_per_day | safe }};

        var number_comparisons = Array.apply(null, {length: x_values.length}).map(Number.call, Number);

        $("#primary_plot_name").text(descriptive_names[number_comparisons[0]]);

        var breakpoint = 0;

        // To be loaded later by ajax
        jtk_ps = null;
        jtk_qs = null;
        upside_ps = null;

        // Number of rows to show in the row selecotr
        num_row_selections = 21;

        // List of the number of significant (non-filtered) features that are at or below a given index
        num_significant_below = labels.map(function(x,i) { return i+1;} );

        // Indexes to the order in which we will display the genes
        // default to the order in which they were sent
        sort_order = labels.map(function(x,i) {return i;});

        // Currently selected row from slider
        selected_row = breakpoint;

        // What row is being shown at the top of the row selector
        row_selector_top = 0;

        y_values = [];
        trace_name = 'Nothing selected';
        marker_settings = {size: 12, symbol: 'circle-open'};

        var traces = Array(2);

        number_comparisons.forEach(function(ctr) {

            traces[ctr] = {
                x: x_values[ctr],
                y: x_values[ctr].map(function (x) {
                    return 0;
                }),
                name: trace_name,
                type: 'scatter',
                mode: 'lines+markers',
                marker: marker_settings
            };

        });

        var layout = {
            xaxis: {
                title: labels[breakpoint],
                ticktext: x_labels[0],
                tickvals: x_label_values[0],
                automargin: true
            },
            legend: {
                orientation: 'h', y: -0.2
            }
        };

        Plotly.newPlot('scatter_plot', traces, layout);

        $("#coarse_slider").slider({
            orientation: "horizontal",
            min: 0,
            value: breakpoint,
            step: 1,
            max: labels.length - 1,
            slide: function (event, ui) {
                selected_row = ui.value;
                selectRow(parseInt(ui.value));
                row_selector.focus();
            }
        });

        // add the options to the row_selector list
        var row_selector_options = [];
        var row_selector = $('#row_selector')[0];
        for(var i = 0; i < num_row_selections; i++) {
            var row_option = document.createElement("div");
            if (i === num_row_selections) {
                row_option.className = "list-group-item list-group-item-action py-0";
            } else {
                row_option.className = "list-group-item list-group-item-action py-0";
            }
            row_option.textContent = "Loading...";

            let my_index = i;
            row_option.addEventListener('click', function (event) {
                let row = row_selector_top + my_index;
                selectRow(row);
            } );
            row_selector_options.push(row_option);
            row_selector.appendChild(row_option);
        }

        // Make labels that include q values in them, for the selector
        var max_label_length = Math.max.apply(0, labels.map( function (x) {return x.length;}));
        var nonbreakingspace = "\u00A0";
        var labels_with_qs = null;
        function  makeRowLabels(q_values) {
            labels_with_qs = labels.map( function(label, i) {
                return String(label).padEnd(max_label_length, nonbreakingspace) + ' Q: ' + toFixed(q_values[i], 2);
            } );
        }
        makeRowLabels(qs[number_comparisons[0]]);

        var disableFilteredRows = function () {
            for(var i = 0; i < num_row_selections; i++) {
                var current_index = sort_order[row_selector_top + i];
                if (filtered[current_index]) {
                    row_selector_options[i].classList.add("disabled");
                } else {
                    row_selector_options[i].classList.remove("disabled");
                }
            }
        };

        var updateRowSelector = function () {
            // Update the selector rows
            for(var i = 0; i < num_row_selections; i++) {
                var current_index = row_selector_top + i;
                if (current_index < 0) {
                    row_selector_options[i].textContent = "-";
                } else if (current_index >= labels_with_qs.length) {
                    row_selector_options[i].textContent = "-";
                } else {
                    row_selector_options[i].textContent = labels_with_qs[sort_order[current_index]];
                }

                if (current_index === selected_row) {
                    row_selector_options[i].classList.add("active");
                } else {
                    row_selector_options[i].classList.remove("active");
                }
            }

            // Visually disable filtered options
            disableFilteredRows();

        };

        var selectRow = function (row_index) {
            // Update the coarse slider
            $("#coarse_slider").slider("option", "value", row_index);

             // Set selected row according to our sorting
            selected_row = row_index;

            // Update row selector scrolling
            if (row_index >= row_selector_top) {
                if (row_index < row_selector_top + num_row_selections) {
                    // Do nothing, already can see the right row
                } else {
                    // Moving down, put it at the bottom
                    row_selector_top = row_index - num_row_selections + 1;
                }
            } else {
                // Moving up, put it at the top
                row_selector_top = row_index;
            }

            updateRowSelector();

            // But we actually access the row by its index
            // after sorting
            row_index = sort_order[selected_row];

            redrawPlot();



            // Update the "statistics" card
            $('#significant_items').html(num_significant_below[selected_row]);
            $('#q_value').html(toFixed(qs[number_comparisons[0]][row_index], 3));
            $('#p_value').html(toFixed(ps[number_comparisons[0]][row_index], 3));
            $('#amplitude').html(toFixed(amplitudes[number_comparisons[0]][row_index], 3));
            $('#anova').html(toFixed(anovas[number_comparisons[0]][row_index], 3));
            $('#peak_time').html(toFixed(peak_times[number_comparisons[0]][row_index], 3));
            if (upside_ps !== null) {
                $('#upside_p').html(toFixed(upside_ps[number_comparisons[0]][row_index], 3));
            } else {
                $('#upside_p').html("loading");
            }

            if (jtk_ps !== null && jtk_qs !== null) {
                $('#jtk_p').html(toFixed(jtk_ps[row_index], 3));
                $('#jtk_q').html(toFixed(jtk_qs[row_index], 3));
            } else {
                $('#jtk_p').html("loading");
                $('#jtk_q').html("loading");
            }
        };

        row_selector.addEventListener('keydown', function (event) {
            if (event.defaultPrevented) {
                return; // Do nothing
            }

            switch (event.key) {
                case "Down": // IE/Edge specific value
                case "ArrowDown":
                    // Find the next row down that is unfiltered
                    var i = selected_row+1;
                    while (true) {
                        if (i >= labels.length) {
                            // End of the table, do nothing;
                            break;
                        }
                        if (!filtered[sort_order[i]]) {
                            selectRow(i);
                            break;
                        }
                        i++;
                    }
                    break;
                case "Up": // IE/Edge specific value
                case "ArrowUp":
                    // Find the next row up that is unfiltered
                    var i = selected_row-1;
                    while (true) {
                        if (i < 0) {
                            // Top of the table, do nothing;
                            break;
                        }
                        if (!filtered[sort_order[i]]) {
                            selectRow(i);
                            break;
                        }
                        i--;
                    }
                    break;
                case "PageDown":
                    var max_top = Math.max(0, labels.length - num_row_selections);
                    row_selector_top = Math.min(row_selector_top + num_row_selections, max_top);
                    updateRowSelector();
                    break;
                case "PageUp":
                    row_selector_top = Math.max(row_selector_top - num_row_selections, 0);
                    updateRowSelector();
                    break;
                default:
                    return;
            }

            event.preventDefault();
            return;
        });

        row_selector.addEventListener('wheel', function (event) {
            if (event.deltaY > 0) {
                var max_top = Math.max(0, labels.length - num_row_selections);
                row_selector_top = Math.min(row_selector_top + 3, max_top) ;
            } else if (event.deltaY < 0) {
                row_selector_top = Math.max(row_selector_top - 3, 0) ;
            }
            updateRowSelector();

            event.preventDefault();
        });

        var redrawPlot = function() {
            // Update the Plotly plots of the feature profiles
            traces = [];
            var colors = Plotly.d3.scale.category10();
            number_comparisons.forEach(function (ctr) {
                var row_index = sort_order[selected_row];
                raw_y_values = data[ctr][row_index];
                if (raw_y_values === undefined) {
                    console.log("Could not find the y-values for row " + row_index);
                    return;
                }

                paired_y_values = [];
                for (var i in column_pairs[ctr]) {
                    paired_y_values.push(raw_y_values[column_pairs[ctr][i][0]], raw_y_values[column_pairs[ctr][i][1]], null);
                }

                paired_x_values = [];
                for (var i in column_pairs[ctr]) {
                    paired_x_values.push(x_values[ctr][column_pairs[ctr][i][0]], x_values[ctr][column_pairs[ctr][i][1]], null);
                }

                // Mean values of each timepoint
                var sum_by_timepoint = [];
                var reps_per_timepoint = [];
                for (var i = 0; i < x_values[ctr].length; i++) {
                    var time = x_values[ctr][i];
                    var value = raw_y_values[i];

                    if (sum_by_timepoint[time] === undefined) {
                        sum_by_timepoint[time] = 0;
                        reps_per_timepoint[time] = 0;
                    }
                    if (!isNaN(value)) {
                        // Skip nans entirely, count the rest
                        sum_by_timepoint[time] += value;
                        reps_per_timepoint[time] += 1;
                    }
                }
                var means = sum_by_timepoint.map( function (sum,i) {
                    return sum / reps_per_timepoint[i];
                } );
                var variances = [];
                for (var i = 0; i < x_values[ctr].length; i++) {
                    var time = x_values[ctr][i];
                    var value = raw_y_values[i];

                    if (variances[time] === undefined) {
                        variances[time] = 0;
                    }

                    if (isNaN(value)) {
                        continue; // skip NaNs
                    }

                    if (reps_per_timepoint[time] > 1) {
                        variances[time] += (value - means[time])*(value - means[time]) / (reps_per_timepoint[time]-1);
                    } else {
                        variances[time] = 0;
                    }
                }
                var stds = variances.map(Math.sqrt);

                // Pick a color for this spreadsheet using Plotly's defaults from d3
                var spreadsheet_color = colors(ctr);

                // Default values for the different plot styles to override
                var trace = {
                    x: paired_x_values, y: paired_y_values,
                    mode: 'lines+markers',
                    marker: marker_settings,
                    name: descriptive_names[ctr],
                    type: 'scatter',
                    'marker': {color: spreadsheet_color},
                    'line': {color: spreadsheet_color}
                };

                // Pick data and styling based off the plot_style_select value
                var plot_style = $('#plot_style_select').val();
                if (plot_style === "basketweave") {
                    // Do nothing, basketweave is already the default settings
                } else if (plot_style === "points") {
                    trace.mode = "markers";
                    trace.x = x_values[ctr];
                    trace.y = raw_y_values;
                } else if (plot_style === "mean") {
                    trace.mode = "lines";
                    trace.x = means.map( function (x,i) {return i;} ); // Just 0,1,2,3...
                    trace.y = means;
                } else if (plot_style === "mean_points") {
                    trace.mode = "markers";
                    trace.x = x_values[ctr];
                    trace.y = raw_y_values;
                    traces.push({ // The mean value trace
                        x: means.map( function (x,i) {return i;} ), // Just 0,1,2,3...
                        y: means,
                        type: "scatter",
                        mode: "lines",
                        showlegend: false,
                        'line': {color: spreadsheet_color}
                    });
                } else if (plot_style === "std") {
                    trace.mode = "lines";
                    trace.x = means.map( function (x,i) {return i;} ); // Just 0,1,2,3...
                    trace.y = means;
                    trace.error_y = {type: 'data', array:stds, visible:true};
                } else if (plot_style === "SEM") {
                    SEM = stds.map( function (std,i) {
                        return std / Math.sqrt( reps_per_timepoint[i]);
                    } );
                    trace.mode = "lines";
                    trace.x = means.map( function (x,i) {return i;} ); // Just 0,1,2,3...
                    trace.y = means;
                    trace.error_y = {type: 'data', array:SEM, visible:true};
                }

                traces.push(trace);

            });

            var layout = {
                hovermode: 'closest',
                title: labels[sort_order[selected_row]],
                legend: { orientation: 'h', y: -0.2 },
                xaxis: {
                    ticktext: x_labels[0],
                    tickvals: x_label_values[0],
                    automargin: true
                }
            };

            Plotly.react(scatter_plot, traces, layout);
        };


        $('#plot_style_select').change( function () {
            redrawPlot();
        });

        var computeHeatmap = function() {
            $('#heatmap_block').hide();
            $('#download_heatmap').hide();
            $('#toggle_replicates').hide();
            $('#cutoff').html(num_significant_below[selected_row]);

            var selected_indexes = labels.map(function (x,i) { return i; } );// Just 0,1,2,3...
            selected_indexes = selected_indexes.filter( function(i) {
                return (i <= selected_row) & (!filtered[sort_order[i]]);
            } );
            var phase_sorted_order = selected_indexes.sort( function (i,j) {
                return compare(peak_times[number_comparisons[0]][sort_order[i]], peak_times[number_comparisons[0]][sort_order[j]], i,j);
            } );

            var z_score_data = number_comparisons.map( function (spreadsheet_num) {
                var zscore = phase_sorted_order.map( function (i) {
                    var row = data[spreadsheet_num][sort_order[i]];
                    var num_reps = 0;
                    var sum = row.reduce( function(x,y) {
                         if (isNaN(y)) {return x;}
                        num_reps += 1;
                        return x+y;
                    }, 0);

                    var mean = sum / num_reps;
                    if (num_reps === 0) { mean = 0; }

                    var variance = row.reduce( function(x,y) {
                        if (isNaN(y)) {return x;}

                        return x + (y - mean)*(y - mean);
                    }, 0);
                    var std = Math.sqrt(variance);

                    var z_scores = row.map( function(x,i) {
                        return (x - mean) / std;
                    } );

                    return z_scores;
                } );
                return zscore;
            });

            // Average all z-scores at the same timepoint together
            var combined_z_scores = number_comparisons.map( function (spreadsheet_num) {
                var zscore = z_score_data[spreadsheet_num].map( function(row) {
                    var z_sum_by_timepoint = [];
                    var reps_by_timepoint = [];
                    x_values[spreadsheet_num].map( function (time,i) {
                        var value = row[i];

                        if (z_sum_by_timepoint[time] === undefined) {
                            z_sum_by_timepoint[time] = 0;
                            reps_by_timepoint[time] = 0;
                        }

                        if (isNaN(value)) {
                            return;
                        }

                        z_sum_by_timepoint[time] += value;
                        reps_by_timepoint[time] += 1;
                    });
                    var z_mean_by_timepoint = z_sum_by_timepoint.map( function(sum,i) {
                        if (reps_by_timepoint[i] === 0) {return 0;}
                        return sum / reps_by_timepoint[i];
                    });
                    return z_mean_by_timepoint;
                });
                return zscore;
            });

            heatmap_data = z_score_data;
            heatmap_combined_data = combined_z_scores;
            heatmap_labels = phase_sorted_order.map( function(i) {
                return labels[sort_order[i]];
            } );

            var rep_counts = [];
            heatmap_x_values = x_values[number_comparisons[0]].map( function(time) {
                if (rep_counts[time] === undefined) {
                    rep_counts[time] = 0;
                }
                rep_counts[time] += 1;
                var day = Math.floor(time / timepoints_per_day[number_comparisons[0]]) + 1;
                var time_of_day = time % timepoints_per_day[number_comparisons[0]] + 1;
                return "Day " + day + " Timepoint " + time_of_day + " Rep " + rep_counts[time];
            });

            updateHeatmap();
        };

        var updateHeatmap = function () {
            var heatmap_options = {
                modeBarButtonsToAdd: [{
                    name: 'download in SVG format',
                    icon: Plotly.Icons.camera,
                    click: function (gd) {
                        Plotly.downloadImage(gd, {format: 'svg'})
                    }
                }]
            };


            var data;
            var combine_replicates = $('#combine_replicates').is(':checked');
            if (combine_replicates) {
                data = heatmap_combined_data;
            } else {
                data = heatmap_data;
            }

            // Util to compute maximum of an array along its axis
            // Apparently Math.max.apply can fail for large arrays
            var array_max = function (array) {
                return array.reduce( function(a,b) {
                    return Math.max(a,b);
                } );
            };
            var array_min = function (array) {
                return array.reduce( function(a,b) {
                    return Math.min(a,b);
                } );
            };

            // Find max/min values so that we can center the colormap with 0=middle
            var maxRow = data.map( function(spreadsheet) { return spreadsheet.map(array_max); });
            var minRow = data.map( function(spreadsheet) { return spreadsheet.map(array_min); });

            var max = Math.max.apply(null, maxRow.map(array_max));
            var min = Math.min.apply(null, minRow.map(array_min));
            var limit = Math.max(Math.abs(min), Math.abs(max));

            var y_vals =  heatmap_labels.map(function (x,i) {return i;});
            var heatmap_values = number_comparisons.map( function(spreadsheet_num) {
                var colorbar = {};
                if (spreadsheet_num === 0){
                    colorbar = {
                        title: 'Z Scale',
                        titleside: 'right'
                    };
                }
                var x_vals = heatmap_x_values;
                if (combine_replicates) {
                    x_vals = x_labels[spreadsheet_num];
                }
                return {
                    x: x_vals,
                    y: y_vals,
                    z: data[spreadsheet_num],
                    type: 'heatmap',
                    xaxis: "x" + (spreadsheet_num+1),
                    yaxis: "y",
                    zmin: -1 * limit,
                    zmax: limit,
                    colorbar: colorbar
                };
            });
            console.log(heatmap_values);

            var heatmap_layout = {
                height: 700,
                width: 1200,
                margin: {
                    l: 200,
                    r: 5,
                    b: 175,
                    t: 20
                },
                pad: 4,
                yaxis: {
                    tickmode: "array",
                    ticktext: heatmap_labels,
                    tickvals: y_vals
                },
                grid: {
                    rows: 1,
                    columns: 2
                }
            };

            Plotly.newPlot('heatmap', heatmap_values, heatmap_layout, heatmap_options);

            $('#heatmap_block').show();
            $('#download_heatmap').show();
            $('#toggle_replicates').show();
        };
        $('#set_breakpoint').click(computeHeatmap);

        $('#combine_replicates').change(function() {
            updateHeatmap()
        });

        selectRow(breakpoint);

        // Prep the initial row display
        disableFilteredRows();

        var searchRows = function() {
            var search_value = $('#row_search_box').val().toLowerCase();

            // Pull out row indexes matching our search_value
            var matching_rows = labels.map( function(unused, index) {
                var label = labels[sort_order[index]];
                if (label.toLowerCase().indexOf(search_value) !== -1) {
                    return index;
                }
            }).filter(isFinite);


            if (matching_rows.length === 0) {
                console.log("Unfortunately no matching row found.");
                // TODO: display something to the user
                return;
            }

            // First look for matches that are *after* our selected_row
            // so that multiple button presses will cycle the selection through all matches
            var matches_after = matching_rows.filter( function (i) {
                return i > selected_row;
            } );
            if (matches_after.length > 0) {
                var row = matches_after[0];
            } else {
                // If that fails, grab the first matching row
                var row = matching_rows[0];
            }

            selectRow(row);
        };
        $('#search_button').click( searchRows);
        $('#row_search_box').on("keydown", function (evt) {
            if (evt.keyCode === 13) { // On Enter key press
                searchRows();
            }
        });

        function compare(a,b, i,j) {
            // Handle nans, putting them at the end
            if (isNaN(a)) {
                if (isNaN(b)) {
                    // If both are Nans, then we preserve their order
                    if (i > j) {
                        return 1;
                    } else if (i < j) {
                        return -1;
                    } else {
                        return 0;
                    }
                } else {
                    return 1;
                }
            } else if (isNaN(b)) {
                return -1;
            } else {
                if (a > b) {
                    return 1;
                } else if (a < b) {
                    return -1;
                } else {
                    return 0;
                }
            }
        };
        var sorters = {
            "nitecap": function(i,j) {
                var a = ps[number_comparisons[0]][i];
                var b = ps[number_comparisons[0]][j];
                return compare(a,b,i,j);
            },
            "anova": function (i,j) {
                // Sort anova p-values in ascending order
                var a = anovas[number_comparisons[0]][i];
                var b = anovas[number_comparisons[0]][j];
                return compare(a,b,i,j);
            },
            "jtk": function (i,j) {
                // Sort jtk p-values in ascending order
                var a = jtk_ps[number_comparisons[0]][i];
                var b = jtk_ps[number_comparisons[0]][j];
                return compare(a,b,i,j);
            },
            "amplitude": function (i,j) {
                // Sort amplitude values in descending order
                var a = -amplitudes[number_comparisons[0]][i];
                var b = -amplitudes[number_comparisons[0]][j];
                return compare(a,b,i,j);
            },
            "upside": function (i,j) {
                // Sort by ascending order
                var a = upside_ps[number_comparisons[0]][i];
                var b = upside_ps[number_comparisons[0]][j];
                return compare(a,b,i,j);
            }
        };

        var sortRows = function () {
            var sorter = $('#sort_select').val();

            sort_order = labels.map( function(x,i) {return i;} );
            sort_order = sort_order.sort( sorters[sorter] );

            if (sorter == "nitecap") {
                makeRowLabels(qs[number_comparisons[0]]);
            } else {

                makeRowLabels(jtk_qs);
            }

            // TODO: this will change what gene is selected
            selectRow(selected_row);
        };
        $('#sort_select').change( sortRows );


        // Load the JTK values
        $.ajax({
            url: "{{url_for('spreadsheets.get_jtk')}}",
            data: JSON.stringify({}),
            dataType: "json",
            contentType: "application/json",
            type: 'POST',
            success: function(response) {
                jtk_ps = response['jtk_ps'];
                jtk_qs = response['jtk_qs'];

                // Display the new values by reselecting the current row
                // TODO: this can move the row selector unexpectedly
                selectRow(selected_row);
            },
            error: function(error) {
                console.log("Error loading JTK values");
                console.log(error);
            }
        });

        // Load the Upside values
        $.ajax({
            url: "{{url_for('spreadsheets.get_upside')}}",
            data: JSON.stringify({'spreadsheet_ids': spreadsheet_ids}),
            dataType: 'json',
            contentType: 'application/json',
            type: 'POST',
            success: function(response) {
                upside_ps = response['upside_ps'];

                // Display the new values by reselecting the current row
                // TODO: this can move the row selector unexpectedly
                selectRow(selected_row);
            },
            error: function(error) {
                console.log("Error loading upside values");
                console.log(error);
            }
        });

        // Cycle current primary to back of array and refresh relevant data
        $("#toggle_primary").click(function() {
            first_element = number_comparisons.shift();
            number_comparisons.push(first_element);
            console.log("number of comparisons " + number_comparisons);
            $("#primary_plot_name").text(descriptive_names[number_comparisons[0]]);
            sortRows();

            if ($('#heatmap_block').is(":visible")) {
                computeHeatmap();
            }
        });


    });

</script>


<div id="comparison-graph-page" class="page-header">
    <h1>Spreadsheet Comparsions <small>Primary Spreadsheet is the first one listed below</small></h1>
</div>

<p id="spreadsheet-comparison-page">
    <div class="row">
        <p class="col-lg-12 h3">
            {{descriptive_names[0]}} vs. {{descriptive_names[1]}}
        </p>
    </div>
    <div class="row">
        <span class="col-lg-9">
            Number of items equal to or more significant than currently selected:
            <span id="significant_items"></span>
        </span>
    </div>

    <div class="row">
        <div id="coarse_slider" class="col-lg-12 coarse-slider"></div>
    </div>

    <div class="row">
        <p style="margin:auto">Less Significant <i class="fas fa-arrow-right"></i></p>
    </div>

    <div class='row'>
        <span class='col-xs-1' style="position:relative">
            <span class="selector-info align-middle"><i class="fas fa-arrow-left"></i> Less Significant</span>
        </span>
        <span class='col-xs-3 ...'>
            <div class='row'>
                <div class="col px-4">
                    <div class="form-group form-inline">
                        <input class="form-control form-control-sm" type="text" name="row_search" placeholder="Search for row by label" id="row_search_box">
                        <button type="button" id="search_button" class="btn btn-secondary btn-sm" style="height:1.8rem">search</button>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col p-4'>
                    <div id="row_selector" class="list-group" tabindex="0">
                     </div>
                </div>
            </div>
            <div class='row p-3'>
                <button id="download_plot" class="btn btn-primary">Download Plot</button>
            </div>
        </span>
        <div class='col-xs-6'>
            <span id="scatter_plot" style="width:625px;height:525px;vertical-align: top"></span>
            <select id="plot_style_select" value="basketweave" class="form-control form-control-sm">
                <option value="basketweave">Basketweave</option>
                <option value="points">Points</option>
                <option value="mean">Mean only</option>
                <option value="mean_points">Points and Mean</option>
                <option value="std">Standard Deviations</option>
                <option value="SEM">SEM</option>
            </select>
            <button id="toggle_primary" class="btn btn-primary mt-2">Toggle Primary Plot</button>
            <span>Currently: <span id="primary_plot_name"></span></span>
        </div>

        <div class="card col-xs-1" style="width: 15rem;">
            <div class="card-header">
                Statistics
            </div>
            <div class="card-body">
                Sort by: <br>
                <select id="sort_select" class="form-control form-control-sm">
                     <option value="nitecap">Nitecap</option>
                     <option value="jtk">JTK</option>
                     <option value="anova">ANOVA</option>
                     <option value="amplitude">Amplitude</option>
                     <option value="upside">Upside</option>
                </select>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Q: <span id="q_value"></span></li>
                    <li class="list-group-item">p-value: <span id="p_value"></span></li>
                    <li class="list-group-item">Amplitude: <span id="amplitude"></span></li>
                    <li class="list-group-item">Peak-time: <span id="peak_time"></span></li>
                    <li class="list-group-item">ANOVA p: <span id="anova"></span></li>
                    <li class="list-group-item">JTK p: <span id="jtk_p"></span></li>
                    <li class="list-group-item">JTK q: <span id="jtk_q"></span></li>
                    <li class="list-group-item">Upside p: <span id="upside_p"></span></li>
                </ul>
            </div>
        </div>
        <div id="FiltersCard" class="card col-xs-1" style="width: 20rem;">
            <div class="card-header">
                Filters
            </div>
            <div class="card-body">
                <div id="EmptyFiltersList" style="visibility:hidden">No filters currently selected.</div>
                <div class="form-group form-inline">
                    <label class="col-form-label" for="max_value_filter" style="margin-right: 10px">Max Value &gt;</label>
                    <input class="form-control form-control-sm" type="text" id="max_value_filter" name="max_value_filter" style='width: 60px' />
                </div>
                <button id="applyFilters" type="button" class="btn btn-primary" data-dismiss="modal">Apply filters</button>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:2rem;padding-bottom:2rem">
        <span class="col-lg-5">
            <input type="hidden" id="row_index" name="row_index"/>
            <button id="set_breakpoint" class="btn btn-primary">Set Significance Cutoff</button>
        </span>
        <span id="toggle_replicates" class="col-lg-5" style="display:none">
            <span style="vertical-align:center;padding-right:1rem">Combine Replicates</span>
            <label class="switch">
                <input id="combine_replicates" name="combine_replicates" type="checkbox" >
                <span class="slider"></span>
            </label>
        </span>
        <span class='col-lg-2'>
            <button id="download_heatmap" class="btn btn-primary" style="display:none">Download Heatmap</button>
        </span>
    </div>
    <div id="heatmap_block" style="display:none">
        <div class="row">
            <span class="col-lg-12">Number of items in heatmap: <span id="cutoff"></span></span>
        </div>
        <div class="row" id="heatmap"></div>
    </div>


{% endblock %}
