{% extends "base.html" %}
{% block content %}


<div class="page-header">
    <h1>Edit Column Identities</h1>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="badge badge-info">Notes</div>
        <div class="server-notes">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% if errors %}
    <div class="badge badge-danger">Errors</div>
    <div class="server-errors">
        {% for error in errors %}
            <div>{{error}}</div>
        {% endfor %}
    </div>
{% endif %}

    <form id="spreadsheet-display-form" action="{{ url_for('spreadsheets.edit_columns') }}" method="post">
        <div class="colIdTableScroll">
        <table id="colIdentityTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <tr>
                {% for heading in spreadsheet.df.columns %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for heading, default_selection in spreadsheet.column_defaults() %}
                <th>
                    <select style="font-size: 10px" name="col{{ loop.index }}" id="col{{ loop.index }}">
                        {% for selection in spreadsheet.get_selection_options() %}
                        <option value="{{selection}}" {{
                        'selected' if selection == default_selection else ''}} >{{selection}}</option>
                        {% endfor %}
                    </select>
                </th>
                {% endfor %}
            </tr>
            {% for record in spreadsheet.get_sample_dataframe() %}
            <tr>
                {% for value in record %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
{% endblock %}
