{% extends "base.html" %}
{% block content %}

<script>
    $(document).ready ( function() {

        $('.topScroll > div').width($('#colIdentityTable').width());
        $('.bottomScroll > div').width($('#colIdentityTable').width());

        $(".topScroll").scroll( function() {
            $(".bottomScroll").scrollLeft($(".topScroll").scrollLeft());
        });
        $(".bottomScroll").scroll( function() {
            $(".topScroll").scrollLeft($(".bottomScroll").scrollLeft());
        });

        $("#spreadsheet-display-form").on('submit', function (e) {
            e.preventDefault();
            console.log("Inside check id uniqueness");
            submit = false;
            spreadsheet_id = {{spreadsheet.id}}
            id_columns = [];
            data = $('#spreadsheet-display-form').serialize().split('&');
            data.forEach(function(item) {
                var results = item.split("=");
                if(results[1] === "ID") {
                    id_columns.push(parseInt(results[0].substring(3)) - 1)
                }
            });
            $.ajax({
                url: "{{ url_for('spreadsheets.check_id_uniqueness') }}",
                data: JSON.stringify({'spreadsheet_id': spreadsheet_id, 'id_columns': id_columns}),
                dataType: "json",
                contentType: "application/json",
                type: 'POST',
                success: function (response) {
                    console.log(response['non-unique_ids']);
                    if(response['non-unique_ids']) {
                        var warning = "The IDs list here are non-unique and as such, will be excluded from any comparison studies: ";
                        warning += non_unique_ids.join(',');
                        console.log(warning);
                        alert(warning);
                    }
                    e.currentTarget.submit();
                },
                // Let conventional page request handle errors
                error: function (request, status, error) {
                    e.currentTarget.submit();
                }
            });
        });
    });
</script>

<div class="page-header">
    <h1>Edit Column Identities</h1>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="badge badge-info">Notes</div>
        <div class="server-notes">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% if errors %}
    <div class="badge badge-danger">Errors</div>
    <div class="server-errors">
        {% for error in errors %}
            <div>{{error}}</div>
        {% endfor %}
    </div>
{% endif %}

<form id="spreadsheet-display-form" method="post" action="{{ url_for('spreadsheets.edit_columns') }}">
    <div class="topScroll">
        <div></div>
    </div>
    <div class="bottomScroll">
        <div>
            <table id="colIdentityTable" class="table table-striped table-bordered table-sm" cellspacing="0"
                   width="100%">
                <tr>
                    {% for heading in spreadsheet.df.columns %}
                    <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for heading, default_selection in spreadsheet.column_defaults() %}
                    <th>
                        <select style="font-size: 10px" name="col{{ loop.index }}" id="col{{ loop.index }}">
                            {% for selection in spreadsheet.get_selection_options() %}
                            <option value="{{selection}}" {{
                            'selected' if selection == default_selection else ''}} >{{selection}}</option>
                            {% endfor %}
                        </select>
                    </th>
                    {% endfor %}
                </tr>
                {% for record in spreadsheet.get_sample_dataframe() %}
                <tr>
                    {% for value in record %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <button id="submit_labels" type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
