{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>Edit Saved Spreadsheet</h1>
</div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="badge badge-info">Notes</div>
        <div class="server-notes">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% if errors %}
    <div class="badge badge-danger">Errors</div>
    <div class="server-errors">
        {% for error in errors %}
            <div>{{error}}</div>
        {% endfor %}
    </div>
{% endif %}

<form id="spreadsheet-details-form" action="{{ url_for('spreadsheets.edit_details', spreadsheet_id=spreadsheet_id) }}" method="post"
          enctype="multipart/form-data">
        <div class="form-group">
            <label for="descriptive_name">Enter Descriptive Name for the Spreadsheet Data:</label>
            <input type="text" id="descriptive_name" name="descriptive_name" class="form-control"
                   style="width:40rem" value="{{descriptive_name}}" maxlength="250" />
        </div>
        <div class="form-group">
            <label for="days">Enter Number of Days of Data:</label>
            <input type="number" id="days" name="days" class="form-control" value="{{days}}" style="width:15rem"
                   required />
        </div>
        <div class="form-group">
            <label for="timepoints">Enter the Number of Timepoints Per Day:</label>
            <input type="number" id="timepoints" name="timepoints" class="form-control" value="{{timepoints}}"
                   style="width:15rem" required />
        </div>
        <div class="form-group">
            Repeated Measures?
            <label class="radio-inline">
                <input type="radio" id="repeated_measures_yes" name="repeated_measures" value="y"> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" id="repeated_measures_no" name="repeated_measures" value="n" checked> No
            </label>
        </div>
        <div class="form-group">
            <label for="header_row">The Spreadsheet Header is on Row:</label>
            <input type="number" id="header_row" name="header_row" class="form-control" value="{{header_row or 1}}"
                   style="width:15rem" required />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}