{% extends "base.html" %}
{% block content %}
<script>
    $(document).ready(function () {

        labels = {{ ids | safe }};
        x_values = {{ x_values | safe }};
        heatmap_x_values = {{ heatmap_x_values | safe }}
        data = {{ data | safe }};
        column_pairs = {{ column_pairs | safe}}

        console.log(data);
        var heatmap_layout = {
            height: 700,
            width: 800,
            margin: {
                l: 200,
                r: 5,
                b: 175,
                t: 20
            },
            pad: 4
        };


        var heatmap_values = [{
            x: heatmap_x_values,
            y: labels,
            z: data,
            type: 'heatmap'
        }];

        Plotly.newPlot('heatmap', heatmap_values, heatmap_layout);
    });
</script>
<div id="heatmap-page" class="page-header">
    <h1>Heatmap</h1>
</div>
<div>
    <div id="heatmap" style="width:600px;height:450px;display:inline-block"></div>
    <div id="scatter_plot" style="display:inline-block"></div>
</div>

{% endblock %}
