{% extends "base.html" %}
{% block content %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(document).ready(function () {
        labels = {{ ids | safe }};
        x_values = {{ x_values | safe }};
        x_labels = {{ x_labels | safe }};
        x_label_values = {{ x_label_values | safe }};
        data = {{ data | safe }};
        column_pairs = {{ column_pairs | safe }};
        breakpoint = {{ breakpoint | safe }};
        qs = {{ qs | safe }};
        ps = {{ ps | safe }};
        amplitudes = {{ amplitudes | safe }};
        anovas = {{ anovas | safe }};
        peak_times = {{ peak_times | safe }};
        saved_max_value_filter = {{ max_value_filter | safe }};
        filtered = {{ filtered | safe }};
        timepoints_per_day = {{ timepoints_per_day | safe }};
        spreadsheet_id = {{ spreadsheet_id | safe }};

        // To be loaded later by ajax
        jtk_ps = null;
        jtk_qs = null;

        // Largest size of any label to use, truncate longer labels
        max_label_size = 35;

        // List of the number of significant (non-filtered) features that are at or below a given index
        num_significant_below = labels.map(function(x,i) { return i+1;} );

        // Indexes to the order in which we will display the genes
        // default to the order in which they were sent
        sort_order = labels.map(function(x,i) {return i;});

        // Currently selected row from slider
        selected_row = breakpoint;

        y_values = [];
        trace_name = 'Nothing selected';
        marker_settings = {};
        // d3's default color
        var plot_color = Plotly.d3.scale.category10()(0);

        var scatter_plot = document.getElementById('scatter_plot');

        var values = [{
            x: x_values,
            y: x_values.map(function(x) {return 0;}),
            name: trace_name,
            type: 'scatter',
            mode: 'lines+markers',
            marker: marker_settings
        }];

        var layout = {
            xaxis: {
                title: labels[breakpoint],
                ticktext: x_labels,
                tickvals: x_label_values,
                automargin: true
            }
        };

        // This empty plot should be quickly replaced since we trigger a select change event once everything is
        // set up.
        Plotly.newPlot(scatter_plot, values, layout, {showLink: true});

        var redrawPlot = function () {
            var row_index = sort_order[selected_row];

            // Update the Plotly plot of the feature profile
            var raw_y_values = data[row_index];
            if (raw_y_values === undefined) {
                console.log("Could not find the y-values for row " + row_index);
                return;
            }

            // points for the basketweave styel
            var paired_y_values = [];
            for( var i in column_pairs ) {
                paired_y_values.push( raw_y_values[column_pairs[i][0]], raw_y_values[column_pairs[i][1]], null );
            }
            var paired_x_values = [];
            for( var i in column_pairs ) {
                paired_x_values.push( x_values[column_pairs[i][0]], x_values[column_pairs[i][1]], null );
            }

            // Mean values of each timepoint
            var sum_by_timepoint = [];
            var reps_per_timepoint = [];
            for (var i = 0; i < x_values.length; i++) {
                var time = x_values[i];
                var value = raw_y_values[i];

                if (sum_by_timepoint[time] === undefined) {
                    sum_by_timepoint[time] = 0;
                    reps_per_timepoint[time] = 0;
                }
                if (!isNaN(value)) {
                    // Skip nans entirely, count the rest
                    sum_by_timepoint[time] += value;
                    reps_per_timepoint[time] += 1;
                }
            }
            var means = sum_by_timepoint.map( function (sum,i) {
                return sum / reps_per_timepoint[i];
            } );
            var variances = [];
            for (var i = 0; i < x_values.length; i++) {
                var time = x_values[i];
                var value = raw_y_values[i];

                if (variances[time] === undefined) {
                    variances[time] = 0;
                }

                if (isNaN(value)) {
                    continue; // skip NaNs
                }

                if (reps_per_timepoint[time] > 1) {
                    variances[time] += (value - means[time])*(value - means[time]) / (reps_per_timepoint[time]-1);
                } else {
                    variances[time] = 0;
                }
            }
            var stds = variances.map(Math.sqrt);

            // Default values for the different plot styles to override
            var values = [{
                x: paired_x_values, y: paired_y_values,
                mode: 'lines+markers',
                marker: marker_settings,
                name: labels[row_index],
                type: 'scatter'
            }];
            var layout = {
                hovermode: 'closest',
                title: labels[row_index],
                xaxis: {
                    ticktext: x_labels,
                    tickvals: x_label_values,
                    automargin: true
                }
            };

            // Pick data and styling based off the plot_style_select value
            var plot_style = $('#plot_style_select').val();
            if (plot_style === "basketweave") {
                // Do nothing, basketweave is already the default settings
            } else if (plot_style === "points") {
                values[0].mode = "markers";
                values[0].x = x_values;
                values[0].y = raw_y_values;
            } else if (plot_style === "mean") {
                values[0].mode = "lines";
                values[0].x = means.map( function (x,i) {return i;} ); // Just 0,1,2,3...
                values[0].y = means;
                values[0].name = labels[row_index] + " means";
            } else if (plot_style === "mean_points") {
                values[0].mode = "markers";
                values[0].x = x_values
                values[0].y = raw_y_values;
                values[1] = {
                    x: means.map( function (x,i) {return i;} ), // Just 0,1,2,3...
                    y: means,
                    name: labels[row_index] + " mean",
                    type: "scatter",
                    mode: "lines",
                    'line': {color: plot_color}
                };
                layout["showlegend"] = false;
            } else if (plot_style === "std") {
                values[0].mode = "lines";
                values[0].x = means.map( function (x,i) {return i;} ); // Just 0,1,2,3...
                values[0].y = means;
                values[0].name = labels[row_index] + " means";
                values[0].error_y = {type: 'data', array:stds, visible:true};
            } else if (plot_style === "SEM") {
                SEM = stds.map( function (std,i) {
                    return std / Math.sqrt( reps_per_timepoint[i]);
                } );
                values[0].mode = "lines";
                values[0].x = means.map( function (x,i) {return i;} ); // Just 0,1,2,3...
                values[0].y = means;
                values[0].name = labels[row_index] + " means";
                values[0].error_y = {type: 'data', array:SEM, visible:true};
            }
            Plotly.react(scatter_plot, values, layout);
        };

        function updateStatsBox() {
            // Update the "statistics" card
            $('#significant_items').html(num_significant_below[selected_row]);
            $('#q_value').html(toFixed(qs[row_index], 3));
            $('#p_value').html(toFixed(ps[row_index], 3));
            $('#amplitude').html(toFixed(amplitudes[row_index], 3));
            $('#anova').html(toFixed(anovas[row_index], 3));
            $('#peak_time').html(toFixed(peak_times[row_index], 3));

            if (jtk_ps !== null && jtk_qs !== null) {
                $('#jtk_p').html(toFixed(jtk_ps[row_index], 3));
                $('#jtk_q').html(toFixed(jtk_qs[row_index], 3));
            } else {
                $('#jtk_p').html("loading");
                $('#jtk_q').html("loading");
            }
        }

        $('#plot_style_select').change( function () {
            redrawPlot();
        });

        $("#coarse_slider").slider({
            orientation: "horizontal",
            min: 0,
            value: breakpoint,
            step: 1,
            max: labels.length - 1,
            slide: function (event, ui) {
                selected_row = ui.value;
                rowSelector.selectRow(selected_row);

                $('#row_selector').focus();
            }
        });

        // Make the row selector
        function onRowSelect(selection) {
            selected_row = selection;

            // Update the coarse slider
            $("#coarse_slider").slider("option", "value", selected_row);

            updateStatsBox();
            redrawPlot();
        }
        var num_row_selections = 21; // Show this many rows at once
        rowSelector = makeRowSelector($('#row_selector')[0],  labels, qs, filtered, sort_order, num_row_selections, onRowSelect);
        rowSelector.selectRow(breakpoint);

        var computeHeatmap = function() {
            $('#heatmap_block').hide();
            $('#download_heatmap').hide();
            $('#toggle_replicates').hide();
            $('#cutoff').html(num_significant_below[selected_row]);

            var selected_indexes = labels.map(function (x,i) { return i; } );// Just 0,1,2,3...
            selected_indexes = selected_indexes.filter( function(i) {
                return (i <= selected_row) & (!filtered[sort_order[i]]);
            } );
            var phase_sorted_order = selected_indexes.sort( function (i,j) {
                return compare(peak_times[sort_order[i]], peak_times[sort_order[j]], i,j);
            } );

            var zScoreData = computeZScores(phase_sorted_order)(data);
            var meanZScores = meanByTimepoints(zScoreData, x_values);

            heatmap_data = zScoreData;
            heatmap_combined_data = meanZScores;
            heatmap_labels = phase_sorted_order.map( function(i) {
                return labels[sort_order[i]];
            } );


            var rep_counts = [];
            heatmap_x_values = x_values.map( function(time) {
                if (rep_counts[time] === undefined) {
                    rep_counts[time] = 0;
                }
                rep_counts[time] += 1;
                var day = Math.floor(time / timepoints_per_day) + 1;
                var time_of_day = time % timepoints_per_day + 1;
                return "Day " + day + " Timepoint " + time_of_day + " Rep " + rep_counts[time];
            });

            updateHeatmap();
        };

        var updateHeatmap = function () {
            var heatmap_options = {
                modeBarButtonsToAdd: [{
                    name: 'download in SVG format',
                    icon: Plotly.Icons.camera,
                    click: function (gd) {
                        Plotly.downloadImage(gd, {format: 'svg'})
                    }
                }]
            };


            var x_values;
            var data;
            var combine_replicates = $('#combine_replicates').is(':checked');
            if (combine_replicates) {
                x_values = x_labels;
                data = heatmap_combined_data;
            } else {
                x_values = heatmap_x_values;
                data = heatmap_data;
            }

            // Find max/min values so that we can center the colormap with 0=middle
            var maxRow = data.map(function(row){ return Math.max.apply(Math, row); });
            var minRow = data.map(function(row){ return Math.min.apply(Math, row); });

            var max = Math.max.apply(null, maxRow);
            var min = Math.min.apply(null, minRow);
            var limit = Math.max(Math.abs(min), max);

            var y_vals =  heatmap_labels.map(function (x,i) {return i;});
            var heatmap_values = [{
                x: x_values,
                y: y_vals,
                z: data,
                type: 'heatmap',
                zmin: -1 * limit,
                zmax: limit,
                colorbar: {
                    title: 'Z Scale',
                    titleside: 'right'
                }
            }];

            var heatmap_layout = {
                height: 700,
                width: 900,
                margin: {
                    l: 200,
                    r: 5,
                    b: 175,
                    t: 20
                },
                pad: 4,
                yaxis: {
                    tickmode: "array",
                    ticktext: heatmap_labels,
                    tickvals: y_vals
                }
            };

            Plotly.newPlot('heatmap', heatmap_values, heatmap_layout, heatmap_options);
            $('#heatmap_block').show();
            $('#download_heatmap').show();
            $('#toggle_replicates').show();
        };
        $('#set_breakpoint').click(computeHeatmap);

        $('#download_heatmap').click(function() {
            var gd = document.getElementById('heatmap');
            Plotly.downloadImage(gd, {format: 'svg', filename: 'heatmap_' + (selected_row+1)});
        });

        $('#download_plot').click(function() {
            var gd = document.getElementById('scatter_plot');
            Plotly.downloadImage(gd, {format: 'svg', filename: 'plot_' + (selected_row+1)});
        });

        // Setup of filters card on page load
        if(saved_max_value_filter) {
            $('#max_value_filter').val(saved_max_value_filter)
        }
        else {
            $('#EmptyFiltersList').css({"visibility":"visible"});
        }

        $('#applyFilters').click(function() {
            $('#filterError').hide();
            row_index = $('input[name="row_index"]').val();
            var max_value_filter = $('#max_value_filter').val();
            if (isNaN(max_value_filter) && max_value_filter.length > 0) {
                $("#max_value_filter").val('');
                $('#EmptyFiltersList').css({"visibility": "visible"});
                $('#significant_items').html(row_index);
                return
            }
            $('#EmptyFiltersList').css({"visibility": "hidden"});
            $('#filterProgress').css({"visibility": "visible"});
            $('#applyFilters').prop('disabled', true)
            $.ajax({
                url: "{{url_for('spreadsheets.save_filters')}}",
                data: JSON.stringify({
                    'max_value_filter': max_value_filter,
                    'filtered': filtered
                }),
                dataType: "json",
                contentType: "application/json",
                type: 'POST',
                success: function (response) {
                    qs = response["qs"];
                    ps = response["ps"];
                    filtered = response["filtered"];

                    var ctr = 0;
                    var set_significant_items = false;
                    var significant_items = $('#significant_items');
                    $.each(data, function (index, row) {
                        if (!filtered[index]) {
                            ctr++;
                        }

                        num_significant_below[index] = ctr;

                        // Update number of significant items
                        if (index >= row_index && !set_significant_items) {
                            significant_items.html(ctr);
                            set_significant_items = true;
                        }
                    });

                    rowSelector.filterRows(filtered);

                    // Update row labels with new q-values
                    if ($('#sort_select').val() === 'jtk') {
                        rowSelector.makeRowLabels(labels, jtk_qs);
                    } else {
                        rowSelector.makeRowLabels(labels, qs);
                    }
                },
                error: function (response, status, error) {
                    $("#max_value_filter").val('');
                    $('#filterError').show();
                    console.log(response, status, error);
                },
                complete: function () {
                    $('#filterProgress').css({"visibility": "hidden"});
                    $('#applyFilters').prop('disabled', false);
                }
            });
        });

        $('#combine_replicates').change(function() {
            updateHeatmap()
        });

        var searchRows = function() {
            var search_value = $('#row_search_box').val().toLowerCase();

            // Pull out row indexes matching our search_value
            var matching_rows = labels.map( function(unused, index) {
                var label = labels[sort_order[index]];
                if (label.toLowerCase().indexOf(search_value) !== -1) {
                    return index;
                }
            }).filter(isFinite);


            if (matching_rows.length === 0) {
                console.log("Unfortunately no matching row found.");
                // TODO: display something to the user
                return;
            }

            // First look for matches that are *after* our selected_row
            // so that multiple button presses will cycle the selection through all matches
            var matches_after = matching_rows.filter( function (i) {
                return i > selected_row;
            } );
            if (matches_after.length > 0) {
                var row = matches_after[0];
            } else {
                // If that fails, grab the first matching row
                var row = matching_rows[0];
            }

            rowSelector.selectRow(row);
        };
        $('#search_button').click( searchRows);
        $('#row_search_box').on("keydown", function (evt) {
            if (evt.keyCode === 13) { // On Enter key press
                searchRows();
            }
        });

        function compare(a,b, i,j) {
            // Handle nans, putting them at the end
            if (isNaN(a)) {
                if (isNaN(b)) {
                    // If both are Nans, then we preserve their order
                    if (i > j) {
                        return 1;
                    } else if (i < j) {
                        return -1;
                    } else {
                        return 0;
                    }
                } else {
                    return 1;
                }
            } else if (isNaN(b)) {
                return -1;
            } else {
                if (a > b) {
                    return 1;
                } else if (a < b) {
                    return -1;
                } else {
                    return 0;
                }
            }
        };
        var sorters = {
            "anova": function (i,j) {
                // Sort anova p-values in ascending order
                var a = anovas[i];
                var b = anovas[j];
                return compare(a,b,i,j);
            },
            "jtk": function (i,j) {
                // Sort jtk p-values in ascending order
                var a = jtk_ps[i];
                var b = jtk_ps[j];
                return compare(a,b,i,j);
            },
            "amplitude": function (i,j) {
                // Sort jtk p-values in ascending order
                var a = -amplitudes[i];
                var b = -amplitudes[j];
                return compare(a,b,i,j);
            }
        }

        $('#sort_select').change(function (evt) {
            if (this.value === "jtk") {
                sort_order = labels.map( function(x,i) {return i;} );
                sort_order = sort_order.sort( sorters[this.value] );

                rowSelector.setSortOrder(sort_order);
                rowSelector.makeRowLabels(labels, jtk_qs);
            } else if (this.value === "nitecap") {
                // Nitecap order is default, sort_order is then just 0,1,2,3...
                sort_order = labels.map( function(x,i) {return i;} );

                rowSelector.setSortOrder(sort_order);
                rowSelector.makeRowLabels(labels, qs);
            } else {
                sort_order = labels.map( function(x,i) {return i;} );
                sort_order = sort_order.sort( sorters[this.value] );

                rowSelector.setSortOrder(sort_order);
                rowSelector.makeRowLabels(labels, qs);
            }

            // TODO: this will change what gene is selected
            rowSelector.selectRow(selected_row);
        });


        // Load the JTK values
        $.ajax({
            url: "{{url_for('spreadsheets.get_jtk')}}",
            data: JSON.stringify({'spreadsheet_id': spreadsheet_id}),
            dataType: "json",
            contentType: "application/json",
            type: 'POST',
            success: function(response) {
                jtk_ps = response['jtk_ps'];
                jtk_qs = response['jtk_qs'];

                $('#sort_select option[value="jtk"]').removeAttr("disabled");

                // Display the new values by reselecting the current row
                updateStatsBox();
            },
            error: function(error) {
                console.log("Error loading JTK values");
                console.log(error);
            }
        });

        $('#share_spreadsheet').click(function(event) {
            $.ajax({
                url: "{{url_for('spreadsheets.share')}}",
                data: JSON.stringify({'spreadsheet_id': spreadsheet_id, 'row_index': $('#significant_items').text()}),
                dataType: "json",
                contentType: "application/json",
                type: 'POST',
                success: function (response) {
                    url = "{{url_for('spreadsheets.share', _external=True)}}/" + response['share'];
                    $("#share_url").val(url);
                    $('#share_popup').modal()
                },
                error: function (response) {
                    alert(response['errors'])
                }
            });
        });

    });


</script>

<div id="graph-page" class="page-header">
    <h1>Results <small>Data sorted by significance</small></h1>
</div>

<p id="spreadsheet-breakpoint-page">
    <div class="row">
        <p class="col-lg-12 h3">{{descriptive_name}}
            <a href="{{ url_for('spreadsheets.download_spreadsheet') }}" class="mx-3" download="processed_file.txt">
                <i class="fas fa-download" data-toggle="tooltip" data-placement="top" title="Download"></i>
            </a>
            {% if not anonymous %}
                <a href="{{ url_for('spreadsheets.edit_details', spreadsheet_id = spreadsheet_id) }}">
                    <i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                </a>
                <a id='share_spreadsheet' href="#">
                    <i class="fas fa-share-square" data-toggle="tooltip" data-placement="top" title="Share"></i>
                </a>
            {% endif %}
        </p>

    </div>
    <div class="row">
        <span class="col-lg-9">
            Number of items equal to or more significant than currently selected:
            <span id="significant_items"></span>
        </span>
    </div>

    <div class="row">
        <div id="coarse_slider" class="col-lg-12 coarse-slider"></div>
    </div>

    <div class="row">
        <p style="margin:auto">Less Significant <i class="fas fa-arrow-right"></i></p>
    </div>

    <div class='row'>
        <span class='col-xs-1' style="position:relative">
            <span class="selector-info align-middle"><i class="fas fa-arrow-left"></i> Less Significant</span>
        </span>
        <span class='col-xs-3 ...'>
            <div class='row'>
                <div class="col px-4">
                    <div class="form-group form-inline">
                        <input class="form-control form-control-sm" type="text" name="row_search" placeholder="Search for row by label" id="row_search_box">
                        <button type="button" id="search_button" class="btn btn-secondary btn-sm" style="height:1.8rem">search</button>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col px-4'>
                    <div id="row_selector" class="list-group" tabindex="0">
                     </div>
                </div>
            </div>
            <div class='row p-3'>
                <button id="download_plot" class="btn btn-primary">Download Plot</button>
            </div>
        </span>
        <div class='col-xs-6'>
            <span id="scatter_plot" style="width:625px;height:450px;vertical-align: top"></span>
            <select id="plot_style_select" value="basketweave" class="form-control form-control-sm">
                <option value="basketweave">Basketweave</option>
                <option value="points">Points</option>
                <option value="mean">Mean only</option>
                <option value="mean_points">Points and Mean</option>
                <option value="std">Standard Deviations</option>
                <option value="SEM">SEM</option>
            </select>
        </div>

        <div class="card col-xs-1" style="width: 15rem;">
            <div class="card-header">
                Statistics
                <a id="statsHelp" class="text-primary help-pointer"
                   data-container="body" data-toggle="popover" data-placement="top" data-trigger="click"
                   title="Statistics Help"
                   data-content="Displays statistics about the selected row. JTK values are calculated on first page load and may a take a minute.">
                    <i class="fas fa-info-circle ml-3"></i>
                </a>
            </div>
            <div class="card-body">
                Sort by: <br>
                <select id="sort_select" class="form-control form-control-sm">
                     <option value="nitecap">Nitecap</option>
                     <option value="jtk" disabled>JTK</option>
                     <option value="anova">ANOVA</option>
                     <option value="amplitude">Amplitude</option>
                </select>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Q: <span id="q_value"></span></li>
                    <li class="list-group-item">p-value: <span id="p_value"></span></li>
                    <li class="list-group-item">Amplitude: <span id="amplitude"></span></li>
                    <li class="list-group-item">Peak-time: <span id="peak_time"></span></li>
                    <li class="list-group-item">ANOVA p: <span id="anova"></span></li>
                    <li class="list-group-item">JTK p: <span id="jtk_p"></span></li>
                    <li class="list-group-item">JTK q: <span id="jtk_q"></span></li>
                </ul>
            </div>
        </div>
        <div id="FiltersCard" class="card col-xs-1" style="width: 20rem;">
            <div class="card-header">
                Filters
                <a id="filtersHelp" class="text-primary help-pointer"
                   data-container="body" data-toggle="popover" data-placement="top" data-trigger="click"
                   title="Filter Help"
                   data-content="Please note that filter application can take a dozen or more seconds to complete.">
                    <i class="fas fa-info-circle ml-3"></i>
                </a>
            </div>
            <div class="card-body">
                <div id="EmptyFiltersList" style="visibility:hidden">No filters currently selected.</div>
                <div class="form-group form-inline">
                    <label class="col-form-label" for="max_value_filter" style="margin-right: 10px">Max Value &gt;</label>
                    <input class="form-control form-control-sm" type="text" id="max_value_filter" name="max_value_filter" style='width: 60px' />
                </div>
                <div>
                    <button id="applyFilters" type="button" class="btn btn-primary mb-4" data-dismiss="modal">Apply filters</button>
                </div>
                <div id="filterProgress" class="progress" style="visibility:hidden">
                  <div class="progress-bar progress-bar-animated progress-bar-striped" style="width:100%"></div>
                </div>
                <div id="filterError" class="text-danger" style="display:none">
                    Filter processing failed!
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:2rem;padding-bottom:2rem">
        <span class="col-lg-5">
            <input type="hidden" id="row_index" name="row_index"/>
            <button id="set_breakpoint" class="btn btn-primary">Set Significance Cutoff</button>
        </span>
        <span id="toggle_replicates" class="col-lg-5" style="display:none">
            <span style="vertical-align:center;padding-right:1rem">Combine Replicates</span>
            <label class="switch">
                <input id="combine_replicates" name="combine_replicates" type="checkbox" >
                <span class="slider"></span>
            </label>
        </span>
        <span class='col-lg-2'>
            <button id="download_heatmap" class="btn btn-primary" style="display:none">Download Heatmap</button>
        </span>
    </div>
    <div id="heatmap_block" style="display:none">
        <div class="row">
            <span class="col-lg-12">Number of items in heatmap: <span id="cutoff"></span></span>
        </div>
        <div class="row" id="heatmap"></div>
    </div>

<div id="share_popup" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">URL to share this spreadsheet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="share_url">Copy this URL and offer it to anyone with whom you'd like to share your
                    spreadsheet data:</label>
                <textarea id="share_url" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

{% endblock %}
