{% extends "base.html" %}
{% block content %}
<script>

    $(document).ready(function () {

        labels = {{ ids | safe }};
        x_values = {{ x_values | safe }};
        x_labels = {{ x_labels | safe }};
        x_label_values = {{ x_label_values | safe }};
        data = {{ data | safe }};
        column_pairs = {{ column_pairs | safe }};
        breakpoint = {{ breakpoint | safe }};
        qs = {{ qs | safe }};
        ps = {{ ps | safe }};
        amplitudes = {{ amplitudes | safe }};
        peak_times = {{ peak_times | safe }};

        y_values = [];
        trace_name = 'Nothing selected';
        marker_settings = {size: 12, symbol: 'circle-open', color: '#FF00FF'};

        var scatter_plot = document.getElementById('scatter_plot');

        var values = [{
            x: x_values,
            y: x_values.map(function(x) {return 0;}),
            name: trace_name,
            type: 'scatter',
            mode: 'lines+markers',
            marker: marker_settings
        }];

        var layout = {
            xaxis: {
                title: labels[breakpoint],
                ticktext: x_labels,
                tickvals: x_label_values,
                automargin: true
            }
        };

        // This empty plot should be quickly replaced since we trigger a select change event once everything is
        // set up.
        Plotly.newPlot(scatter_plot, values, layout);

        $("#coarse_slider").slider({
            orientation: "horizontal",
            min: 0,
            value: breakpoint,
            step: 1,
            max: labels.length,
            slide: function (event, ui) {
                //$("#row_selector").val(ui.value);
                $('#significant_items').html(ui.value+1);
                $('#q_value').html(qs[ui.value].toFixed(3));
                $('#p_value').html(ps[ui.value].toFixed(3));
                $('#amplitude').html(amplitudes[ui.value].toFixed(3));
                $('#peak_time').html(peak_times[ui.value].toFixed(3));
                $('#row_selector').val(ui.value).trigger("focus");
                raw_y_values = data[ui.value];
                paired_y_values = [];
                paired_y_values = [];
                for( var i in column_pairs ) {
                    paired_y_values.push( raw_y_values[column_pairs[i][0]], raw_y_values[column_pairs[i][1]], null );
                }
                paired_x_values = [];
                for( var i in column_pairs ) {
                    paired_x_values.push( x_values[column_pairs[i][0]], x_values[column_pairs[i][1]], null );
                }
                $('input[name="row_index"]').val(ui.value);
                values = [{
                    x: paired_x_values, y: paired_y_values,
                    mode: 'lines+markers',
                    marker: marker_settings,
                    name: labels[ui.value],
                    type: 'scatter'
                }];
                var layout = {
                    title: labels[ui.value],
                    xaxis: {
                        ticktext: x_labels,
                        tickvals: x_label_values,
                        automargin: true
                    }
                };
                Plotly.react(scatter_plot, values, layout);
            }
        });

        $('#row_selector').change(function () {
            $("#coarse_slider").slider("option", "value", this.value);
            console.log("Selector changed: " + labels[this.value]);
            raw_y_values = data[this.value];

            paired_y_values = [];
            for( var i in column_pairs ) {
                paired_y_values.push( raw_y_values[column_pairs[i][0]], raw_y_values[column_pairs[i][1]], null );
            }
            paired_x_values = [];
            for( var i in column_pairs ) {
                paired_x_values.push( x_values[column_pairs[i][0]], x_values[column_pairs[i][1]], null );
            }

            console.log(this.value, labels[this.value]);
            $('input[name="row_index"]').val(this.value);
            $('#significant_items').html(parseInt(this.value) + 1);
            $('#q_value').html(qs[this.value].toFixed(3));
            $('#p_value').html(ps[this.value].toFixed(3));
            $('#amplitude').html(amplitudes[this.value].toFixed(3));
            $('#peak_time').html(peak_times[this.value].toFixed(3));
            console.log("row: " + this.value + ",id: " + labels[this.value]);
            values = [{
                x: paired_x_values, y: paired_y_values,
                mode: 'lines+markers',
                marker: marker_settings,
                name: labels[this.value],
                type: 'scatter'
            }];
            var layout = {
                title: labels[this.value],
                xaxis: {
                    ticktext: x_labels,
                    tickvals: x_label_values,
                    automargin: true
                }
            };
            Plotly.react(scatter_plot, values, layout);
        });

        // Add options to a "document fragment"
        // then to the selector, for speed
        var option_fragment = document.createDocumentFragment()
        $.each(labels, function (i, label) {
            option_fragment.appendChild(new Option(" Q: " + qs[i].toFixed(2) + " " + label, i));
        } );
        $('#row_selector')[0].appendChild(option_fragment);

        $('#set_breakpoint').click(function() {
            $('#heatmap_block').hide();
            $('#download_heatmap').hide();
            row_index = parseInt($('#row_index').val()) + 1;
            $('#cutoff').html(row_index);
            $.ajax({
                url: "{{url_for('spreadsheets.display_heatmap')}}",
                data: JSON.stringify({'row_index': row_index}),
                dataType: "json",
                contentType: "application/json",
                type: 'POST',
                success: function(response) {

                    var heatmap_layout = {
                        height: 700,
                        width: 900,
                        margin: {
                            l: 200,
                            r: 5,
                            b: 175,
                            t: 20
                        },
                        pad: 4
                    };

                    var heatmap_options = {
                        modeBarButtonsToAdd: [{
                            name: 'download in SVG format',
                            icon: Plotly.Icons.camera,
                            click: function (gd) {
                                Plotly.downloadImage(gd, {format: 'svg'})
                            }
                        }]
                    };

                    var heatmap_x_values = response['heatmap_x_values'];
                    var heatmap_labels = response['heatmap_labels'];
                    var heatmap_data = response['heatmap_data'];

                    var maxRow = heatmap_data.map(function(row){ return Math.max.apply(Math, row); });
                    var minRow = heatmap_data.map(function(row){ return Math.min.apply(Math, row); });

                    var max = Math.max.apply(null, maxRow);
                    var min = Math.min.apply(null, minRow);
                    var limit = Math.max(Math.abs(min), max);



                    console.log(min,max, limit);

                    var heatmap_values = [{
                        x: heatmap_x_values,
                        y: heatmap_labels,
                        z: heatmap_data,
                        type: 'heatmap',
                        zmin: -1 * limit,
                        zmax: limit,
                        colorbar: {
                            title: 'Z Scale',
                            titleside: 'right'
                        }
                    }];

                    Plotly.newPlot('heatmap', heatmap_values, heatmap_layout, heatmap_options);
                    $('#heatmap_block').show();
                    $('#download_heatmap').show();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

        $('#row_selector').val(breakpoint).trigger("change");

        $('#download_heatmap').click(function() {
            var gd = document.getElementById('heatmap');
            Plotly.downloadImage(gd, {format: 'svg', filename: 'heatmap_' + row_index});
        });

});


</script>

<div id="graph-page" class="page-header">
    <h1>Results <small>Data sorted by significance</small></h1>
</div>

<div id="spreadsheet-breakpoint-page">

    <div class="row">
        <span class="col-lg-9">
            Number of items equal to or more significant than currently selected:
            <span id="significant_items"></span>
        </span>
    </div>

    <div class="row">
        <div id="coarse_slider" class="col-lg-12 coarse-slider"></div>
    </div>

    <div class="row">
        <p style="margin:auto">Less Significant <i class="fas fa-arrow-right"></i></p>
    </div>

    <div class='row'>
        <span class='col-xs-1' style="position:relative">
            <span class="selector-info align-middle"><i class="fas fa-arrow-left"></i> Less Significant</span>
        </span>
        <span class='col-xs-3 ...'>
            <select size="20" name="row_selector" id="row_selector"></select>
        </span>
        <span class="'col-xs-8" id="scatter_plot" style="width:700px;height:450px;vertical-align: top"></span>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Statistics
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Q: <span id="q_value"></span></li>
                    <li class="list-group-item">p-value: <span id="p_value"></span></li>
                    <li class="list-group-item">Amplitude: <span id="amplitude"></span></li>
                    <li class="list-group-item">Peak-time: <span id="peak_time"></span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <span class="col-lg-10">
            <input type="hidden" id="row_index" name="row_index"/>
            <button id="set_breakpoint" class="btn btn-primary">Set Significance Cutoff</button>
        </span>
        <span class='col-lg-2'>
            <button id="download_heatmap" class="btn btn-primary" style="display:none">Download Heatmap</button>
        </span>
    </div>
    <div id="heatmap_block" style="display:none">
        <div class="row">
            <span class="col-lg-12">Number of items in heatmap: <span id="cutoff"></span></span>
        </div>
        <div class="row" id="heatmap"></div>
    </div>

</div>
{% endblock %}
