{% extends "base.html" %}
{% block content %}

<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(document).ready(function() {


        {#  raw/endraw needed to make jinga ignore this code.  This is a Mustache template. #}
        {% raw %}
        var template = "<div id='spreadsheet_notes_{{ spreadsheet_id }}' class='annotate_form'>\n" +
            "             <textarea data-id='{{ spreadsheet_id }}' class='form-control' cols='30' rows='10'>{{ note }}</textarea>\n" +
            "              <div class='float-right'>\n" +
            "                <button class='btn-annotate btn btn-primary'>\n" +
            "                  <i class='fas fa-check'></i>\n" +
            "                </button>\n" +
            "                <button class='btn-annotate-dismiss btn btn-white'>\n" +
            "                  <i class='fas fa-times'></i>\n" +
            "                </button>\n" +
            "              </div>\n" +
            "            </div>";
        {% endraw %}

        // Note popover for each spreadsheet
        let popovers = $('.annotate_spreadsheet[data-toggle="popover"]');

        // When the popover is shown (i.e., when the note icon is clicked)
        popovers.popover().on('shown.bs.popover', function() {

            // When the check button is clicked inside the open note popover - when the user elects to save the note.
            $('.btn-annotate').on('click', function() {

                // Locate the spreadsheet id and the note content
                let parentElement = $(this).parent().parent();
                let textareaElement = parentElement.find('textarea');
                let spreadsheet_id = textareaElement.attr("data-id");
                let note = textareaElement.val();

                // Find the specific anchor tag that calls the popover
                let anchorElement = $('a.annotate_spreadsheet[data-id="' + spreadsheet_id + '"]');

                // Send the data back to the server for saving.
                $.ajax({
                    url: "{{url_for('spreadsheets.save_note')}}",
                    data: JSON.stringify({"spreadsheet_id": spreadsheet_id, "note": note}),
                    dataType: "json",
                    contentType: "application/json",
                    type: 'POST',
                    success: function () {

                        // Add the new note content to the anchor tag that called the popover so that the
                        // user will see the new content if s/he opens the note for editing again.
                        let new_data = {"spreadsheet_id": spreadsheet_id, "note": note};
                        let new_content = '"' + Mustache.to_html(template, new_data) + '"';
                        anchorElement.attr('data-content', new_content);
                    },
                    error: function (request) {

                        // Inject the error message returned by the server into the error modal and display it.
                        let error_message = $.parseJSON(request.responseText).error;
                        nitecap_error_message.text(error_message);
                        nitecap_error.modal();
                    },
                    complete: function() {

                        // Regardless of outcome, hide the popover
                        popovers.popover('hide');
                    }
                });
            });

            // When the x button is clicked inside the open note popover - the user is dismissing the popover without
            // saving any new edits.
            $('.btn-annotate-dismiss').on('click', function() {
                popovers.popover('hide');
            });
        });

        // Note that these elements exist on the base.html page because they are commonly used.
        let nitecap_error = $("#error-modal");
        let nitecap_error_message = $("#error-modal-message");

        let spreadsheetTableElement = $('#spreadsheetTable');

        // Data table - initial sort on spreadsheet install date descending.  ID column is hidden.  Actions
        // column is not subject to sorting.  Multiple columns can be selected.
        let table = spreadsheetTableElement.DataTable({
                        aoColumnDefs: [
                            { 'bSortable': false, 'aTargets': [ 7 ] },
                            { 'visible': false, 'aTargets': [8] }
                        ],
                        order: [[ 1, 'desc' ]],
                        select: {
                            style: 'multi'
                        }
                    });

        // Prevents user selection of any spreadsheet rows indicated as in error
        table.on('user-select', function(e, dt, type, cell, originalEvent) {
            let tr = $(originalEvent.target).parent();
            if(!tr.hasClass('text-dark')) {
                e.preventDefault();
            }
        });

        spreadsheetTableElement.on('click','.rename_spreadsheet', function(event) {
           console.log("Rename " + $(event.target).data('id'));
           let cell = $(event.target);
           cell.removeClass('rename_spreadsheet');
           let current_name = cell.text().trim();
           let input_form = "<input type='text' value='" + current_name + "' />" +
               "             <div class='float-right'>\n" +
               "               <button class='btn-rename btn btn-primary'>\n" +
               "                 <i class='fas fa-check'></i>\n" +
               "               </button>\n" +
               "               <button class='btn-rename-dismiss btn btn-white'>\n" +
               "                 <i class='fas fa-times'></i>\n" +
               "               </button>\n" +
               "             </div>\n";
           cell.html(input_form);
        });

        spreadsheetTableElement.on('click', '.btn-rename-dismiss', function(event) {
            event.stopPropagation();
            let cell = $(event.target).parents("td > div");
            let current_name = cell.data("name");
            cell.addClass('rename_spreadsheet');
            cell.html(current_name);
        });

        spreadsheetTableElement.on('click', '.btn-rename', function(event) {
            event.stopPropagation();
            let cell = $(event.target).parents("td > div");
            console.log(cell);
            let new_name = cell.find("input").val();
            $.ajax({
                url: "{{url_for('spreadsheets.rename')}}",
                data: JSON.stringify({'spreadsheet_id': cell.data("id"), 'name': new_name}),
                dataType: "json",
                contentType: "application/json",
                type: 'POST',
                success: function (response) {
                    new_name = response['name']
                    cell.data("name", new_name);
                    cell.html(new_name);
                },
                error: function (request) {

                    cell.html(cell.data("name"));

                    // Inject the error message returned by the server into the error modal and display it.
                    let error_message = $.parseJSON(request.responseText).error;
                    nitecap_error_message.text(error_message);
                    nitecap_error.modal();
                },
                complete: function() {
                    cell.addClass('rename_spreadsheet');
                }
            });
        });


        // User clicks the share icon
        spreadsheetTableElement.on('click','.share_spreadsheet', function(event) {

            // Locate the id of the spreadsheet to share
            let spreadsheet_id = $(event.target).parent().attr('id').split("_")[2];

            // Call the server with the spreadsheet id so that the server may return a link that can be shared.
            $.ajax({
                url: "{{url_for('spreadsheets.share')}}",
                data: JSON.stringify({'spreadsheet_id': spreadsheet_id}),
                dataType: "json",
                contentType: "application/json",
                type: 'POST',
                success: function (response) {

                    // Display a modal containing the share link
                    let url = "{{url_for('spreadsheets.share', _external=True)}}/" + response['share'];
                    $("#share_url").val(url);
                    $('#share_popup').modal()
                },
                error: function (request) {

                    // Inject the error message returned by the server into the error modal and display it.
                    let error_message = $.parseJSON(request.responseText).error;
                    nitecap_error_message.text(error_message);
                    nitecap_error.modal();
                }
            });
        });

        spreadsheetTableElement.on('click', '.delete_spreadsheet' , function() {
            $("#delete_confirmed").attr('data-id', $(this).attr('data-id'));
            $("#confirm_delete_modal").modal();
        });

        // Insure active state for compare button initially
        let compare_button = $("#compare");
        compare_button.prop('disabled', false);
        compare_button.html('Compare');

        // Launch comparison
        compare_button.click(function() {

            // Extract the spreadsheet ids from the selected rows.
            let row_data = table.rows( { selected: true } ).data();
            let spreadsheet_list = [];
            $.each($(row_data), function(key, value) {
                spreadsheet_list.push(value[8])
            });

            // Insure that only 2 rows are selected.  For now we can only compare 2 spreadsheets.  Display
            // error modal otherwise.
            if(!spreadsheet_list || spreadsheet_list.length !== 2) {
                let error_message = "Presently, we only support comparing two spreadsheets at a time.  " +
                                    "Please adjust your selection accordingly.";
                nitecap_error_message.text(error_message);
                nitecap_error.modal();
            }
            else {

                // Disable the compare button and display the spinner
                compare_button.prop('disabled', true);
                compare_button.html("" +
                    "<span class='spinner-border spinner-border-sm text-light mr-2' role='status' aria-hidden='true'>" +
                    "</span>Processing...");

                // Call the flask compare function and pass the spreadsheet ids as a query string.
                let spreadsheet_ids = spreadsheet_list.join(",");
                let compare_url = "{{ url_for('spreadsheets.compare') }}";
                window.location.href = compare_url + "?spreadsheet_ids=" + spreadsheet_ids;
            }
        });

        // Delete is confirmed - send AJAX call to delete spreadsheet
        $("#delete_confirmed").on('click', function() {
            let spreadsheet_id = $(this).attr('data-id');
            $("#confirm_delete_modal").modal('toggle');
            $.ajax({
                url: "{{url_for('spreadsheets.delete')}}",
                data: JSON.stringify({"spreadsheet_id": spreadsheet_id}),
                dataType: "json",
                contentType: "application/json",
                type: 'POST',
                success: function () {

                    // The parameter in draw is needed to keep the user on the current page
                    table.row("#spreadsheet_" + spreadsheet_id).remove().draw(false);
                },
                error: function (request) {
                    let error_message = $.parseJSON(request.responseText).error;
                    nitecap_error_message.text(error_message);
                    nitecap_error.modal();
                }
            })
        });
    });

</script>

<div class="page-header">
    <h1>Saved Spreadsheets</h1>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="badge badge-info">Notes</div>
        <div class="server-notes">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% if errors %}
    <div id="error-indicator" class="badge badge-danger">Errors</div>
    <div class="server-errors">
        {% for error in errors %}
            <div>{{error}}</div>
        {% endfor %}
    </div>
{% endif %}

{% if user.spreadsheets %}
    <table id="spreadsheetTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Uploaded File</th>
                <th>Date Installed</th>
                <th>Name</th>
                <th>Days</th>
                <th>Time-<br />points</th>
                <th>Sig.<br />Cutoff</th>
                <th>Last Update</th>
                <th>Actions</th>
                <th>IDs</th>
            </tr>
        </thead>
        <tbody>
        {% for spreadsheet in user.spreadsheets %}
            {% if spreadsheet.error %}
                {% set class="alert alert_danger" %}
            {% else %}
                {% set class="text-dark" %}
            {% endif %}
            <tr class={{class}} id="spreadsheet_{{spreadsheet.id}}">
                <td>{{spreadsheet.original_filename}}</td>
                <td data-sort="{{spreadsheet.date_uploaded}}">
                    {{ momentjs(spreadsheet.date_uploaded).format('LLL') }}
                </td>
                <td>
                    <div data-id="{{ spreadsheet.id }}" data-name="{{ spreadsheet.descriptive_name }}"
                         class="rename_spreadsheet text-primary" style="cursor:pointer">
                        {{spreadsheet.descriptive_name}}
                    </div>
                </td>
                <td>{{spreadsheet.days}}</td>
                <td>{{spreadsheet.timepoints}}</td>
                <td>{{spreadsheet.breakpoint}}</td>
                <td data-sort="{{spreadsheet.last_access}}">
                    {{ momentjs(spreadsheet.last_access).format('LLL') }}
                </td>
                <td class="actions">
                     <a href="{{ url_for('spreadsheets.collect_data', spreadsheet_id = spreadsheet.id) }}">
                        <i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                    </a>
                    <a href="{{ url_for('spreadsheets.show_spreadsheet', spreadsheet_id = spreadsheet.id) }}">
                        <i class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="View graphs"></i>
                    </a>
                    <a href="{{ url_for('spreadsheets.download', spreadsheet_id = spreadsheet.id) }}"
                       download="processed_file_{{spreadsheet.id}}.txt">
                        <i class="fas fa-download" data-toggle="tooltip" data-placement="top" title="Download"></i>
                    </a>
                    <a id='share_spreadsheet_{{spreadsheet.id}}' class="share_spreadsheet text-primary">
                       <i class="fas fa-share-square" data-toggle="tooltip" data-placement="top" title="Share"></i>
                    </a>
                    <a data-id="{{ spreadsheet.id }}" class="delete_spreadsheet text-primary">
                        <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                    </a>
                    <a data-id="{{ spreadsheet.id }}" class="annotate_spreadsheet text-primary" rel="popover"
                       data-container="body" data-toggle="popover" data-placement="left" data-trigger="click"
                       title="Add a Note" data-html=true
                       data-content="<div id='spreadsheet_notes_{{ spreadsheet.id }}' class='annotate_form'>
                                       <textarea data-id='{{ spreadsheet.id }}' class='form-control' cols='30' rows='10'>{{ spreadsheet.note or '' }}</textarea>
                                       <div class='float-right'>
                                         <button class='btn-annotate btn btn-primary'>
                                           <i class='fas fa-check'></i>
                                         </button>
                                         <button class='btn-annotate-dismiss btn btn-white'>
                                           <i class='fas fa-times'></i>
                                         </button>
                                       </div>
                                     </div>"
                    >
                        <i class="fas fa-sticky-note" data-toggle="tooltip" data-placement="top" title="Annotate"></i>
                    </a>
                </td>
                <td>{{spreadsheet.id}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <!--
        <tfoot>
            <tr>
                <td>Uploaded File</td>
                <td>Date Uploaded</td>
                <td>Name</td>
                <td>Days</td>
                <td>Time<br />points</td>
                <td>Sig.<br />Cutoff</td>
                <td>Last Update</td>
                <td>Actions</td>
                <td>IDS</td>
            </tr>
        </tfoot>
        -->
    </table>

    <button type="button" class="btn btn-primary" id="compare">Compare</button>
{% endif %}


<div id="share_popup" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white">SHARE this spreadsheet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="share_url">Copy this URL and offer it to anyone with whom you'd like to share your
                    spreadsheet data:</label>
                <textarea id="share_url" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm_delete_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="model-title text-white">DELETE Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm deletion...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">Cancel</span>
                </button>
                <a id="delete_confirmed" class="btn btn-primary">
                    <span class="text-white">Delete</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}