APPLICATION_SETTINGS=/var/www/flask_apps/nitecap/config_default.py
UPLOAD_FOLDER=/nitecap_web/uploads/
DB_BACKUP_FOLDER=/nitecap_web/db_backup/
DB_BACKUP_LIMIT=2
SECRET_KEY=<any secret key>
OLD_SECRET_KEY=<any deprecated secret key you want to maintain for backwards compatibility to migrate, or blank if none>
DATABASE_FOLDER=/nitecap_web/db/
DATABASE_FILE=db_file
LOG_FILE=/nitecap_web/log
LOG_LEVEL=INFO
EMAIL_SENDER=nitecap.org@gmail.com
SMTP_SERVER_HOST=smtp
GMAIL_USER=<nitecap.org@gmail.com for example>
GMAIL_PASSWORD=<password for above email>
ADMINS=<comma seperated list of admin user emails>
BANNER_CONTENT=<banner message>
BANNER_VISIBLE=<non-empty for True or empty for False - is banner visible>

# For the AWS computational side
SPREADSHEET_BUCKET_NAME=<bucket name>
COMPUTATION_STATE_MACHINE_ARN=<computation state machine ARN>
NOTIFICATION_API_ENDPOINT=<notification API endpoint>
AWS_ACCESS_KEY_ID=<AWS access key ID>
AWS_SECRET_ACCESS_KEY=<AWS secret access key>
AWS_DEFAULT_REGION=<AWS default region>