APScheduler==3.5.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cython==0.29.21
dash==0.35.2
dash-core-components==0.42.1
dash-html-components==0.13.5
dash-renderer==0.16.2
decorator==4.3.0
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.7
Flask-SQLAlchemy==2.3.2
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
MarkupSafe==1.1.0
mod-wsgi==4.6.5
msgpack==0.6.1
nbformat==4.4.0
numpy==1.15.4
pandas==0.24.2
passlib==1.7.1
plotly==3.5.0
python-dateutil==2.7.5
python-dotenv==0.10.1
python-magic==0.4.15
pytz==2018.9
requests==2.21.0
retrying==1.3.3
scipy==1.2.1
sh==1.12.14
six==1.12.0
SQLAlchemy==1.3.0
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.24.2
Werkzeug==0.15.3
xlrd==1.2.0
sklearn==0.0
pyarrow==0.13.0
statsmodels==0.9.0
simplejson==3.16.0
termcolor==1.1.0
