boto3==1.23.6
Flask==2.1.2
Flask-SQLAlchemy==2.5.1
itsdangerous==2.0.1
Jinja2==3.1.2
mod-wsgi==4.9.1
numpy==1.22.4
openpyxl==3.0.10
pandas==1.4.2
passlib==1.7.4
python-json-logger==2.0.2
python-magic==0.4.26
requests==2.27.1
scipy==1.8.1
SQLAlchemy==1.4.36
Werkzeug==2.2.3
scikit-learn==1.1.1
pyarrow==8.0.0
statsmodels==0.13.2
simplejson==3.17.6
