{% extends "base.html" %}
{% block content %}

<script>
    $(document).ready ( function() {

        columns = {{ (spreadsheet.df.columns.tolist()) | safe }};
        default_selections_str = "{{ spreadsheet.column_labels_str | safe }}";

        {% if not spreadsheet.num_timepoints or not spreadsheet.timepoints %}
            $("#selectors").css("visibility", "hidden");
        {%  else %}
            $("#selectors").css("visibility", "visible");
        {%  endif %}

        // List of elements
        let nitecap_form = $('form');
        let nitecap_table = $('form table');
        let submit_button = $("form button");
        let nitecap_error = $("#error-modal");
        let nitecap_error_message = $("#error-modal-message");


        function setScrollbars() {
            // Set up scrollbars for top and bottom
            $('.topScroll > div').width(nitecap_table.width());
            $('.bottomScroll > div').width(nitecap_table.width());
        }

        $(".topScroll").scroll( function() {
            $(".bottomScroll").scrollLeft($(".topScroll").scrollLeft());
        });
        $(".bottomScroll").scroll( function() {
            $(".topScroll").scrollLeft($(".bottomScroll").scrollLeft());
        });

        // Insure same starting state
        submit_button.prop('disabled', false);
        submit_button.html('Submit');
        nitecap_error_message.text("");


        let num_timepoints = $("#num_timepoints");
        let timepoints = $("#timepoints");
        let defaults = columns.map( function (x) { return "Ignore"; } );

        function updateLabels() {
            let guessed_labels = guessColumnLabels(columns, num_timepoints.val(), timepoints.val(), defaults);
            let options = getLabelOptions(num_timepoints.val(), timepoints.val());

            setScrollbars();
            populate_selects(options, guessed_labels);
        }

        function populate_selects(options, defaults) {
            $("#selectors").css("visibility", "visible");
            $("select").each(function (index) {
                $(this).empty();
                let that = $(this);
                let selected = defaults[index];
                options.forEach(function (option, option_index) {
                    $(that).append(
                        $("<option>").attr('value', option)
                            .attr('selected', selected === option)
                            .text(option)
                    );
                });
            });
        }

        num_timepoints.on('change', updateLabels);
        timepoints.on('change', updateLabels);

        // Initialize selections
        if (default_selections_str) {
            let options = getLabelOptions(num_timepoints.val(), timepoints.val());
            let default_selections = default_selections_str.split(",");
            populate_selects(options, default_selections);
        } else {
            updateLabels();
        }

        // Form Submitted
        nitecap_form.on('submit', function (e) {

            // Build the parameter list for the AJAX call.
            let spreadsheet_id = {{ spreadsheet.id }};
            let id_columns = [];
            let data = nitecap_form.serialize().split('&');
            data.forEach(function(item) {
                let results = item.split("=");
                if(results[1] === "ID") {
                    id_columns.push(parseInt(results[0].substring(3)) - 1)
                }
            });

            // If no ID columns are selected.  Stop the submit and notify the user.
            if($.isEmptyObject(id_columns)) {
                nitecap_error_message.text("You must select at least one ID column.");
                nitecap_error.modal();
                e.preventDefault();
            }
        });

        setScrollbars();
    });
</script>

<div class="page-header">
    <h1>
        Collect Data
        <small>Indicate additional spreadsheet metadata including which timepoints to use</small>
    </h1>
</div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="badge badge-info">Notes</div>
        <div class="server-notes">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% if errors %}
    <div class="badge badge-danger">Errors</div>
    <div class="server-errors">
        {% for error in errors %}
            <div>{{error}}</div>
        {% endfor %}
    </div>
{% endif %}

    <p class="text-danger">* required</p>

<form method="post" action="{{ url_for('spreadsheets.collect_data', spreadsheet_id = spreadsheet.id) }}">
    <div class="row">
        <div class="col-6">
            <div class="form-group required">
                <label for="descriptive_name">Enter descriptive name for the spreadsheet data:</label>
                <input type="text" id="descriptive_name" name="descriptive_name" class="form-control"
                    value="{{spreadsheet.descriptive_name or ''}}" />
            </div>
            <div class="form-group required">
                <label for="num_timepoints">Number of total timepoints (include all cycles, if more than one):</label>
                <input type="number" id="num_timepoints" name="num_timepoints" class="form-control" style="width:10rem"
                    value="{{spreadsheet.num_timepoints or ''}}" required />
            </div>
            <div class="form-group required">
                <label for="timepoints">Number of timepoints per cycle:</label>
                <input type="number" id="timepoints" name="timepoints" class="form-control" style="width:10rem"
                    value="{{spreadsheet.timepoints or ''}}" required />
            </div>
            <!-- we do not use repeated measures currently since we don't run the appropriate algorithms, this could change later
                <div class="form-group">
                    Repeated Measures?
                    <label class="radio-inline">
                        <input type="radio" id="repeated_measures_yes" name="repeated_measures" value="y" {{"checked" if spreadsheet.repeated_measures else ''}}> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="repeated_measures_no" name="repeated_measures" value="n" {{"checked" if not spreadsheet.repeated_measures else ''}}> No
                    </label>
                </div>
            -->
            <p>
                Shown are the first 10 rows of your data. Please indicate those columns that represent ids and timepoints.
                Use the same label from the droplist for each replicate. All columns not representing timepoints
                or ids should be set to 'Ignore'. Additional columns may be selected as 'Stat' to mark values that you wish
                to view, filter by, or sort by for your spreadsheet, for example the p-values of an analysis you have already run.
                See instructions on the right.
            </p>
        </div>

        <div class="col-6 border border-secondary rounded">
            <h2>Instructions:</h2>
            <ul>
                <li> Give spreadsheet a descriptive name or use the default (file name)</li>
                <li> Enter the total number of timepoints at which time was collected. Count distinct timepoints and include equivalent timepoints from different cycles (for example, 0:00 and 24:00 are distinct). One timepoint may or may not have multiple replicates.</li>
                <li> Enter number of timepoints measured per cycle </li>
                <li> For example, if data was collected at times 0, 4, 8, 12, 16, 20, and 24 then the total number of timepoints is 7 and the number of timepoints per cycle is 6.</li>
                <li> Then mark column types: </li>
                <ul>
                    <li> Choose 'ID' for one or more columns that label the row. </li>
                    <li> Choose 'Stat' for any columns that contained per-row data that you want to view, sort, or filter using Nitecap (for example, a p-value from a method not provided by Nitecap). </li>
                    <li> Choose 'Day1 Timepoint1' for all columns containing data from the first measured timepoint in the first 'day' (i.e. first period of the cylce) </li>
                    <li> Choose 'Day1 Timepoint2' for the columns of data from the second measured timepoint, etc. </li>
                    <li> Choose 'Day2 Timepoint1' for all columns containing data from the first timepoint measured in the second 'day' (period of the cycle)</li>
                    <li> Choose 'Ignore' for any other columns, which will then be dropped from analysis. </li>
                </ul>
                <li> If you include in your header column time markers like "CT00", "ZT04", or "8:00", then Nitecap will attempt to automatically select the correct column types.</li>
            </ul>
        </div>
    </div>

    <div class="topScroll">
        <div></div>
    </div>
    <div class="bottomScroll">
        <div>
            <table class="table table-striped table-bordered table-sm">
                <tr>
                    {% for heading in spreadsheet.df.columns %}
                    <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
                <tr id="selectors" style="visibility: {{ 'visible' if num_timepoints and timepoints else 'hidden' }}">
                    {% for heading in spreadsheet.df.columns %}
                    <th>
                        <select style="font-size: 10px" name="col{{ loop.index }}" id="col{{ loop.index }}">
                            <!-- filled in later -->
                        </select>
                    </th>
                    {% endfor %}
                </tr>
                {% for record in spreadsheet.get_sample_dataframe() %}
                <tr>
                    {% for value in record %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
