{% extends "base.html" %}
{% block content %}

<script>
    $(document).ready ( function() {

        columns = {{ (spreadsheet.df.columns.tolist()) | safe }};
        default_selections_str = "{{ spreadsheet.column_labels_str | safe }}";

        {% if not spreadsheet.num_timepoints or not spreadsheet.timepoints %}
            $("#selectors").css("visibility", "hidden");
        {%  else %}
            $("#selectors").css("visibility", "visible");
        {%  endif %}

        // List of elements
        let nitecap_form = $('form');
        let nitecap_table = $('form table');
        let submit_button = $("form button");
        let nitecap_error = $("#error-modal");
        let nitecap_error_message = $("#error-modal-message");


        function setScrollbars() {
            // Set up scrollbars for top and bottom
            $('.topScroll > div').width(nitecap_table.width());
            $('.bottomScroll > div').width(nitecap_table.width());
        }

        $(".topScroll").scroll( function() {
            $(".bottomScroll").scrollLeft($(".topScroll").scrollLeft());
        });
        $(".bottomScroll").scroll( function() {
            $(".topScroll").scrollLeft($(".bottomScroll").scrollLeft());
        });

        // Insure same starting state
        submit_button.prop('disabled', false);
        submit_button.html('Submit');
        nitecap_error_message.text("");


        let num_timepoints = $("#num_timepoints");
        let timepoints = $("#timepoints");
        let defaults = columns.map( function (x) { return "Ignore"; } );

        function updateLabels() {
            let guessed_labels = guessColumnLabels(columns, num_timepoints.val(), timepoints.val(), defaults);
            let options = getLabelOptions(num_timepoints.val(), timepoints.val());

            setScrollbars();
            populate_selects(options, guessed_labels);
        }

        function populate_selects(options, defaults) {
            $("#selectors").css("visibility", "visible");
            $("select").each(function (index) {
                $(this).empty();
                let that = $(this);
                let selected = defaults[index];
                options.forEach(function (option, option_index) {
                    $(that).append(
                        $("<option>").attr('value', option)
                            .attr('selected', selected === option)
                            .text(option)
                    );
                });
            });
        }

        num_timepoints.on('change', updateLabels);
        timepoints.on('change', updateLabels);

        // Initialize selections
        if (default_selections_str) {
            let options = getLabelOptions(num_timepoints.val(), timepoints.val());
            let default_selections = default_selections_str.split(",");
            populate_selects(options, default_selections);
        } else {
            updateLabels();
        }

        // Form Submitted
        nitecap_form.on('submit', function (e) {
            e.preventDefault();

            // Build the parameter list for the AJAX call.
            let spreadsheet_id = {{ spreadsheet.id }};
            let id_columns = [];
            let data = nitecap_form.serialize().split('&');
            data.forEach(function(item) {
                let results = item.split("=");
                if(results[1] === "ID") {
                    id_columns.push(parseInt(results[0].substring(3)) - 1)
                }
            });

            // If no ID columns are selected.  Stop the submit and notify the user.
            if($.isEmptyObject(id_columns)) {
                nitecap_error_message.text("You must select at least one ID column.");
                nitecap_error.modal();
            }
            else {
                // Otherwise check the id combined id columns for duplicates
                $.ajax({
                    url: "{{ url_for('spreadsheets.check_id_uniqueness') }}",
                    data: JSON.stringify({'spreadsheet_id': spreadsheet_id, 'id_columns': id_columns}),
                    dataType: "json",
                    contentType: "application/json",
                    type: 'POST',
                    // Notify the user of any non-unique ids and then submit the form once the user acknowledges.
                    success: function (response) {
                        let non_unique_ids = response['non-unique_ids'];
                        // No longer giving this alert since for most users, non-unique ids are not a problem
                        //if (non_unique_ids && non_unique_ids.length > 0) {
                        //    let warning = "The IDs listed here are non-unique and as such, will be excluded from any comparison studies: ";
                        //    if (non_unique_ids.length > 5) {
                        //        warning += non_unique_ids.slice(0, 5).join(', ');
                        //        warning += ", ... and " + (non_unique_ids.length - 5) + " other";
                        //        warning += non_unique_ids.length - 5 > 1 ? "s." : "."
                        //    } else {
                        //        warning += non_unique_ids.join(',');
                        //    }
                        //    alert(warning);
                        //}

                        // Only when form is about to be submitted should the submit button is disabled
                        submit_button.prop('disabled', true);
                        submit_button.html("<span class='spinner-border spinner-border-sm text-light mr-2' " +
                                           "role='status' aria-hidden='true'></span>Loading...");
                        e.currentTarget.submit();
                    },
                    // If an error is returned notify the user.
                    error: function (request) {
                        error_message = $.parseJSON(request.responseText).error;
                        nitecap_error_message.text(error_message);
                        nitecap_error.modal();
                    }
                });
            }
        });

        setScrollbars();
    });
</script>

<div class="page-header">
    <h1>
        Collect Data
        <small>Indicate additional spreadsheet metadata including which timepoints to use</small>
    </h1>
</div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="badge badge-info">Notes</div>
        <div class="server-notes">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% if errors %}
    <div class="badge badge-danger">Errors</div>
    <div class="server-errors">
        {% for error in errors %}
            <div>{{error}}</div>
        {% endfor %}
    </div>
{% endif %}

    <p class="text-danger">* required</p>

<form method="post" action="{{ url_for('spreadsheets.collect_data', spreadsheet_id = spreadsheet.id) }}">
    <div class="form-group required">
        <label for="descriptive_name">Enter Descriptive Name for the Spreadsheet Data:</label>
        <input type="text" id="descriptive_name" name="descriptive_name" class="form-control"
               value="{{spreadsheet.descriptive_name or ''}}" style="width:40rem" maxlength="250" />
    </div>
    <div class="form-group required">
        <label for="num_timepoints">Number of total timepoints (include all cycles, if more than one):</label>
        <input type="number" id="num_timepoints" name="num_timepoints" class="form-control" style="width:10rem"
               value="{{spreadsheet.num_timepoints or ''}}" required />
    </div>
    <div class="form-group required">
        <label for="timepoints">Number of Timepoints Per Cycle:</label>
        <input type="number" id="timepoints" name="timepoints" class="form-control" style="width:10rem"
               value="{{spreadsheet.timepoints or ''}}" required />
    </div>
    <div class="form-group">
        Repeated Measures?
        <label class="radio-inline">
            <input type="radio" id="repeated_measures_yes" name="repeated_measures" value="y" {{"checked" if spreadsheet.repeated_measures else ''}}> Yes
        </label>
        <label class="radio-inline">
            <input type="radio" id="repeated_measures_no" name="repeated_measures" value="n" {{"checked" if not spreadsheet.repeated_measures else ''}}> No
        </label>
    </div>
    <p>
        Shown are the first 10 rows of your data. Please indicate those columns that represent ids and timepoints.
        Use the same label from the droplist for each replicate. All columns not representing timepoints
        or ids should be set to 'Ignore'. Additional columns may be selected as 'Stat' to mark values that you wish
        to view, filter by, or sort by for your spreadsheet, for example the p-values of an analysis you have already run.
    </p>
    <div class="topScroll">
        <div></div>
    </div>
    <div class="bottomScroll">
        <div>
            <table class="table table-striped table-bordered table-sm">
                <tr>
                    {% for heading in spreadsheet.df.columns %}
                    <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
                <tr id="selectors" style="visibility: {{ 'visible' if num_timepoints and timepoints else 'hidden' }}">
                    {% for heading in spreadsheet.df.columns %}
                    <th>
                        <select style="font-size: 10px" name="col{{ loop.index }}" id="col{{ loop.index }}">
                            <!-- filled in later -->
                        </select>
                    </th>
                    {% endfor %}
                </tr>
                {% for record in spreadsheet.get_sample_dataframe() %}
                <tr>
                    {% for value in record %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
