{% extends "base.html" %}
{% block content %}

<script>
    $(document).ready(function () {
        let form = $('#spreadsheet_form');
        let button = $("#submit_btn");
        button.prop('disabled', false);
        button.html('Submit');
        form.submit(function (e) {
            e.preventDefault();
            button.prop('disabled', true);
            button.html("<span class='spinner-border spinner-border-sm text-light mr-2' role='status' aria-hidden='true'>" +
                        "</span>Loading...");
            e.currentTarget.submit();
        });
    });
</script>

    <div class="page-header">
        <h1>Load Spreadsheet File</h1>
    </div>


    <div class="row p-1">
        <div class="col-6">
            <p>We first need your spreadsheet file</p>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="badge badge-info">Notes</div>
                    <div class="server-notes">
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            {% if errors %}
                <div class="badge badge-danger">Errors</div>
                <div class="server-errors">
                    {% for error in errors %}
                        <div>{{error}}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <p class="text-danger">* required</p>

            <form id="spreadsheet_form">
                <div class="form-group required">
                    <label for="header_row">Spreadsheet header row number:</label>
                    <input type="number" id="header_row" name="header_row" class="form-control" value="{{header_row or 1}}"
                        style="width:15rem" required />
                </div>
                <div class="form-group required">
                    <label for="upload_file">Spreadsheet file:</label>
                    <input type="file" id="upload_file" name="upload_file" required>
                </div>
                <button class="btn btn-primary" type="button" id="submit_btn" onclick="javascript: upload();">
                    Submit
                </button>
                <span id="progress_report">
                </span>
            </form>

        </div>

        <div class="col-6 border border-secondary rounded">
            <h2>Spreadsheet Format Requirements:</h2>

            <ul>
                <li> Excel, CSV, or tab-separated files supported </li>
                <li> One row per feature (gene, protein, etc.)</li>
                <li> One column per sample </li>
                <li> Columns must be labelled in a header row, on a row you specify (typically 1)</li>
                <li> At least one column with ID values for the rows</li>
                <li> Any number of additional columns </li>
                <li> (Optional) include time in column headers (such as "CT00", "ZT04", or "12:00")</li>
                <li> Data is assumed to be collected at evenly spaced timepoints. </li>
            </ul>

            <div class="alert alert-warning" role="alert">
                <h3>Please Note:</h3>
                <p>
                    While we endeavor to protect the data uploaded to this site, we make no guarantees as to its
                    security, and sensitive data (such as anything covered by HIPAA) should not be uploaded.
                </p>
            </div>
        </div>
    </div>

<script>
    $(document).ready ( function() {
        nitecap_error = $("#error-modal");
        nitecap_error_message = $("#error-modal-message");
        nitecap_error_message.text("");

        let progress_report = document.getElementById("progress_report");
        progress_report.textContent = '';

    });

    function upload() {
        let target = "{{ url_for('spreadsheets.upload_file') }}";
        let header_row = $("#header_row").val();
        let upload_files = document.getElementById("upload_file").files;
        if (upload_files.length < 1) {
            nitecap_error_message.text("Must provide a file to upload");
            nitecap_error.modal();
        }
        let upload_file = upload_files[0];

        const xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", function(e) {
            if (e.lengthComputable) {
                const percentage = Math.round(e.loaded / e.total * 100);
                progress_report.textContent = percentage + "%";
            }
        }, false);

        xhr.onload = function (e) {
            // Finished uploading
            progress_report.textContent = "100%";

            // Check for errors
            let response = JSON.parse(xhr.response);
            let errors = response.errors || [];
            if (errors.length > 0) {
                nitecap_error_message.text(errors);
                nitecap_error.modal();
                return;
            }

            // Go to the resulting URL of the uploaded spreadsheet
            let uploaded_url = response.url;
            window.location.href = uploaded_url;
        };

        xhr.onerror = function(e) {
            nitecap_error_message.text("Upload failed. Was the file too large? Maximum file size is {{config['MAX_CONTENT_LENGTH'] // (1024*1024)}} MB");
            nitecap_error.modal();
        };

        xhr.open("POST", target);
        form = new FormData();
        form.append("header_row", header_row);
        form.append("upload_file", upload_file, upload_file.name);
        xhr.send(form);
        progress_report.textContent = '0%';
    }
</script>
{% endblock %}
