<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h3>Welcome {{ userId }}!</h3>
      <h3>My spreadsheets:</h3>
      <ol>
        <li v-for="spreadsheet in spreadsheets">
          <a :href="'/computation/spreadsheet/' + spreadsheet.id" target="_blank">
            {{ spreadsheet.filename }}
          </a>
        </li>
      </ol>
    </div>
    <script>
      let app = new Vue({
        el: "#app",
        data: DATA,
      });
    </script>
  </body>
</html>
