#spreadsheet-details-page, #spreadsheet-display-page {
    margin-top: 25px;
}

#spreadsheet-details-form {
    max-width: 600px;
}

.coarse-slider {
    -webkit-appearance: none;
    background: #BBB;
    width: 1000px;
    margin: 10px 0 10px 0;
    opacity: 2;
}

.coarse-slider:hover {
    opacity: 1;
}


.server-errors {
    padding: 3px 0 10px 3px;
    color: red;
}

.server-errors > div {
    padding-left: 5px;
}

.selector-info {
    padding: 0 1em;
    top: 50px;
    left: -20px;
    position: absolute;
    transform-origin: center right;
    transform: translate(-100%,-50%) rotate(-90deg);
    white-space:nowrap;
}
