{% extends "base.html" %}
{% block content %}

{% if errors %}
    <div class="badge badge-danger">Errors</div>
    <div class="server-errors">
        {% for error in errors %}
            <div>{{error}}</div>
        {% endfor %}
    </div>
{% endif %}

<div class="jumbotron mt-5">
    <h2>Nitecap: easy-to-use circadian and rhythmic analyses</h2>
    <p>
        Run analyses of your time-series, high-throughput data to detect, quantify, and compare rhythms and circadian behavior.
    </p>

    <a href="https://nitecap.org/spreadsheets/share/yeAJS-gTKrPt00o-6n4GTQ-EynbHyQ1xQl-Faij7j_keXQHUOqDxV69ZeWz_1YlyAIhjjrIrQDyRr4zWfm_v5ijS8I8giXIX-yUV">
        <button class='btn btn-secondary'>
            Explore an example dataset
        </button>
    </a>

    <a href="/gallery">
        <button class='btn btn-secondary'>
            Gallery
        </button>
    </a>

    <a href="/user_guide">
        <button class='btn btn-secondary'>
            User Guide
        </button>
    </a>

     <a href="{{url_for('spreadsheets.upload_file')}}">
        <button class="btn btn-primary">
            Load new spreadsheet
        </button>
     </a>
</div>

<div class="row screenshot_examples">
    <div class="col-lg-4 mb-1">
        <div class="card shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='images/columns_small.png')}}" alt="Column selection example"> </img>
            <div class="card-body">
                Flexible file support allowing for Excel, tab-separated and comma-separated files with minimal spreadsheet layout requirements
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-1">
        <div class="card shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='images/comparison.png')}}" alt="Comparison example"> </img>
            <div class="card-body">
                Compare multiple datasets for advanced analyses
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-1">
        <div class="card shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='images/heatmap.png')}}" alt="Heatmap example"> </img>
            <div class="card-body">
                Build heat-maps of datasets showing rhythmic behavior
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-1">
        <div class="card shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='images/pca.png')}}" alt="PCA example"> </img>
            <div class="card-body">
                Visualize time-dependence through PCA plots
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-1">
        <div class="card shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='images/spreadsheets.png')}}" alt="spreadsheet choice page example"> </img>
            <div class="card-body">
                Register an account to keep easy access to all your spreadsheets and analyses and share them with colleagues
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-1">
        <div class="card shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='images/rows.png')}}" alt="row selection example"> </img>
            <div class="card-body">
                Sort the features in your spreadsheet by multiple metrics, instantly search through features, or filter them by flexible criteria
            </div>
        </div>
    </div>
</div>


{% endblock %}
