{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>Load Spreadsheet <small>Expecting csv, txt or xlsx fomats</small></h1>
</div>


    <p>We first need a few details about your spreadsheet along with the spreadsheet itself</p>

    {% if messages %}
    <div class="badge badge-danger">Errors</div>
    <div class="server-errors">
        {% for message in messages %}
        <div>{{message}}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form id="spreadsheet-details-form" action="{{ url_for('.load_spreadsheet') }}" method="post"
          enctype="multipart/form-data">
        <div class="form-group">
            <label for="days">Enter Number of Days of Data:</label>
            <input type="number" id="days" name="days" class="form-control" value="{{days}}" required />
        </div>
        <div class="form-group">
            <label for="timepoints">Enter the Number of Timepoints Per Day:</label>
            <input type="number" id="timepoints" name="timepoints" class="form-control" value="{{timepoints}}" required />
        </div>
        <div class="form-group">
            <input type="file" id="upload_file" name="upload_file" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}