<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nitecap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
</head>
<body>

<style>
    #find_adj {
        height: 200px;
        margin: 10px;
        width: 25px;
        text-align: center;
    }
    .selected_item {
        background-color: rgba(0, 0, 255, 0.25);
        font-size: larger;
        font-weight: bold;
    }

</style>

<div id="spreadsheet-breakpoint-page">

    <div id="coarse_slider" class="coarse-slider"></div>
    <p>Value: <span id="slider_value"></span></p>
    <div>
        <div id="fine_adj" style="display: inline-block;"></div>
        <div style="display: inline-block">
            <div><button id="up">Up</button></div>
            <div><button id="down">Down</button></div>
        </div>
    </div>
    <div id="tester" style="width:600px;height:250px;"></div>

</div>


<script>

    $( document ).ready(function() {

        $("#coarse_slider").slider({
          orientation: 'horizonal',
          min: 0,
          max: 199,
          slide: function (event, ui) {
              console.log("Change " + ui.value);
              $("#slider_value").html(ui.value);
              manageTuner(ui.value)
          }
        });



        TESTER = $('#tester');
        TESTER = document.getElementById('tester');
	    Plotly.plot( TESTER, [{
	        x: [1, 2, 3, 4, 5],
	        y: [1, 2, 4, 8, 16] }], {
	        margin: { t: 0 } });

	    function manageTuner(value) {
	        additional = 2.0
	        $('#find_adj').empty();
	        new_divs = '';
	        lower_limit = Math.max(value - additional, 0);
	        upper_limit = Math.min(value + additional, 199);
	        for(var i=upper_limit; i>=lower_limit; i--) {
                if(i == value) {
                    new_divs += ('<div class="selected_item" id="r' + i + '">' + i + '</div>');
                }
	            else {
	                new_divs += ('<div id="r' + i + '">' + i + '</div>');
                }
            }
            $('#fine_adj').html(new_divs);
        }

        $("#up").click(function() {
            new_value = parseInt($("#slider_value").html());
            console.log(new_value,  Math.min(new_value + 1, 199));
            new_value = Math.min(new_value + 1, 199);
            console.log(new_value);
            $("#coarse_slider").slider( "option", "value", new_value );
            $("#slider_value").html(new_value);
            manageTuner(new_value)
        });
	    $("#down").click(function() {
            new_value = parseInt($("#slider_value").html());
            new_value = Math.max(new_value - 1, 0);
            console.log(new_value);
            $("#coarse_slider").slider( "option", "value", new_value );
            $("#slider_value").html(new_value);
            manageTuner(new_value)
        });

    });




</script>


</body>
</html>