<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nitecap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
</head>
<body>
<style>
    .coarse-slider {
    -webkit-appearance: none;
    background: #BBB;
    width: 600px;
    opacity: 2;
  }

  .coarse-slider:hover {
    opacity: 1;
  }
</style>

 <script>
    $( document ).ready(function() {
        $("#coarse_slider").slider({
          orientation: 'horizonal',
          min: 0,
          max: 200,
          slide: function (event, ui) {
              console.log("Change " + ui.value);
              $("#slider_value").html(ui.value);
              $("#row_selector").val(ui.value)
          }
        });

        str = "";
        for(var i=0; i<200; i++ ) {
           $("#row_selector").append($('<option>', {
                value: i,
                text: "row " + i
            }));
        }

        TESTER = $('#tester');
        TESTER = document.getElementById('tester');
	Plotly.plot( TESTER, [{
	x: [1, 2, 3, 4, 5],
	y: [1, 2, 4, 8, 16] }], {
	margin: { t: 0 } } );

    });
    </script>

    <div id="spreadsheet-breakpoint-page" class="container">
        <div id="coarse_slider" class="coarse-slider"></div>
        <p>Value: <span id="slider_value"></span></p>

        <div>
            <select size="5" name="row_selector" id="row_selector">
            </select>
        </div>

        <div id="tester" style="width:600px;height:250px;"></div>
    </div>

</body>
</html>