{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Reset Password</h1>
</div>

{% if messages %}
    {% if status == 'error' %}
        <div class="badge badge-danger">Errors</div>
    {% else %}
        <div class="badge badge-info">Notes</div>
    {% endif %}
    <div>
        {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
    </div>
{% endif %}
<form id="password-reset-form" action="{{ url_for('users.reset_password', token=token) }}" method="post">
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" maxlength="100" style="width:25rem"
               class="form-control" required/>
    </div>
    <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" maxlength="100" style="width:25rem"
               class="form-control" required/>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

{% endblock %}