{% extends "base.html" %}

{% block head %}
    <meta name="description" content="Explore, analyze, and share high-throughput omics circadian datasets through an easy-to-use web interface.">
    <title> About - Nitecap</title>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>About</h1>
</div>

<p>
        Nitecap is an exploratory circadian data analysis tool aimed at high-throughput omics data.
        It provides a web-interface to examine your dataset with highly-responsive visualizations, allowing the easy viewing of hundreds or thousands of genes or other features.
        Nitecap computes some standard rhythmicity tests for you, including JTK, ARSER, Lomb-Scargle, Cosinor, RAIN, and several tests to compare differential rhythmicity across two conditions (such as phase differences).
        See our <a href="user_guide">User Guide</a> for more help getting started.
</p>

<p>
  Nitecap and its applications are described in:
</p>
<p>
  <strong><a href="https://doi.org/10.1177/07487304211054408">Nitecap: An Exploratory Circadian Analysis Web Application</a></strong> </br>
  Brooks TG, Mrčela A, Lahens NF, Paschos GK, Grosser T, Skarke C, FitzGerald FA, Grant GR </br>
  Journal of Biological Rhythms, 2021 </br>
  <a href="https://doi.org/10.1177/07487304211054408">https://doi.org/10.1177/07487304211054408</a>  PMID: 34724846

</p>

<p>Nitecap is developed at the <a href="http://bioinf.itmat.upenn.edu/">Institute for Translational Medicine and Therapeutics Bioinformatics, University of Pennsylvania</a> by:</p>
<ul class="list-group">
  <li class="list-group-item">Thomas Brooks</li>
  <li class="list-group-item">Antonijo Mrčela</li>
  <li class="list-group-item">Cris Lawrence</li>
  <li class="list-group-item">Gregory Grant</li>
</ul>

<p>
   Comments? Suggestions? Please contact us at
  <a href="mailto:admins@nitecap.org">admins@nitecap.org</a>
</p>

{% endblock %}
