{% extends "base.html" %}

{% block head %}
    <meta name="description" content="Explore, analyze, and share high-throughput omics circadian datasets through an easy-to-use web interface.">
    <title> About - Nitecap</title>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>About</h1>
</div>

<p>
        Nitecap is an exploratory circadian data analysis tool aimed at high-throughput omics data.
        It provides a web-interface to examine your dataset with highly-responsive visualizations, allowing the easy viewing of hundreds or thousands of genes or other features.
        Nitecap computes some standard rhythmicity tests for you, including JTK, ARSER, Lomb-Scargle, Cosinor, and several tests to compare differential rhythmicity across two conditions (such as phase differences).
</p>

<p>Nitecap is developed at the <a href="http://bioinf.itmat.upenn.edu/">Institute for Translational Medicine and Therapeutics Bioinformatics, University of Pennsylvania</a> by:</p>
<ul class="list-group">
  <li class="list-group-item">Thomas Brooks</li>
  <li class="list-group-item">Antonijo Mrčela</li>
  <li class="list-group-item">Cris Lawrence</li>
  <li class="list-group-item">Gregory Grant</li>
</ul>

<p>Contact email: <a href="mailto:admins@nitecap.org">admins@nitecap.org</a></p>

{% endblock %}
