{% extends "base.html" %}
{% block content %}


<div class="jumbotron mt-5">
    <h2>Nitecap: Gallery</h2>
    <p>
        Explore pre-loaded datasets in our gallery below.
    </p>

</div>

<div class="row gallery">
    {% for dataset in gallery %}
        <div class="col-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h4>{{ dataset.name }}</h4>
                </div>
                <div class="card-body">
                    <p>
                        {{dataset.description}}
                        {% if dataset.geo != '' %}
                            <a href="{{dataset.geo}}">GEO accession.</a>
                        {% endif %}
                        {% if dataset.cite != '' %}
                            <a href="{{dataset.cite}}">Citation.</a>
                        {% endif %}
                    </p>
                    <table class="table table-sm">
                        {% for entry in dataset.entries %}
                            <tr>
                                <td>
                                    <a href="{{entry.share}}"><h5>{{entry.name}}</h5></a>
                                </td>
                                <td><p>{{entry.description}}</p></td>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
